
.admin-home {
    display: flex;
    flex-direction: column;
}

@media (min-width:320px) {
    .admin-home {
        padding: 15vw 7vw;
    }
}

@media (min-width:375px) {
    .admin-home {
        padding: 12vw 7vw;
    }
}

@media (min-width:425px) {
    .admin-home {
        padding: 9vw 5vw;
    }
}

@media (min-width:768px) {
    .admin-home {
        padding: 5vw;
    }
}

@media (min-width:1024px) {
    .admin-home {
        padding: 4vw;
    }
}

@media (min-width:1440px) {
    .admin-home {
        padding: 3vw;
    }
}

.user-name {
    font-weight: bold;
}

@media (min-width:320px) {
    .user-name {
        font-size: 5vw;
    }
}

@media (min-width:375px) {
    .user-name {
        font-size: 4.5vw;
    }
}

@media (min-width:425px) {
    .user-name {
        font-size: 4vw;
    }
}

@media (min-width:768px) {
    .user-name {
        font-size: 2.5vw;
    }
}

@media (min-width:1024px) {
    .user-name {
        font-size: 2.2vw;
    }
}

@media (min-width:1440px) {
    .user-name {
        font-size: 1.7vw;
    }
}

.admin-page-list {
    display: flex;
    align-self: center;
}

@media (min-width:320px) {
    .admin-page-list {
        flex-direction: column;
    }
}

@media (min-width:1024px) {
    .admin-page-list {
        flex-direction: row;
    }
}

.page-group {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0.2vw 0.2vw 0.2vw 0.1vw #808080;
}

@media (min-width:320px) {
    .page-group {
        width: 80vw;
        margin: 6vw 3vw;
        padding: 7vw 5vw;
    }
}

@media (min-width:375px) {
    .page-group {
        width: 75vw;
        margin: 5vw 3vw;
    }
}

@media (min-width:768px) {
    .page-group {
        width: 70vw;
        margin: 2vw;
        padding: 4vw 7vw;
    }
}

@media (min-width:1024px) {
    .page-group {
        width: 28vw;
        margin: 1.7vw;
        padding: 3.5vw 2vw;
    }
}

@media (min-width:1440px) {
    .page-group {
        margin: 1.5vw;
        padding: 3vw 2vw;
    }
}

.page-group-button {
    background-color: #4169E1;
    border: none;
    border-radius: 5px;
    box-shadow: 0.2vw 0.2vw 0.2vw 0.1vw #808080;
}

@media (min-width:320px) {
    .page-group-button {
        padding: 2.5vw 4vw;
        margin-bottom: 3vw;
    }
}

@media (min-width:425px) {
    .page-group-button {
        padding: 2vw 3vw;
    }
}

@media (min-width:768px) {
    .page-group-button {
        padding: 1vw 2vw;
    }
}

@media (min-width:1024px) {
    .page-group-button {
        padding: 0.7vw 1.3vw;
        margin-bottom: 2.5vw;
    }
}

@media (min-width:1440px) {
    .page-group-button {
        padding: 0.5vw 1vw;
        margin-bottom: 2vw;
    }
}

.new-link,
.shop-manager-list-link,
.mail-link {
    text-decoration: none;
    color: #fff;
}

@media (min-width:320px) {
    .new-link,
    .shop-manager-list-link,
    .mail-link {
        font-size: 4.3vw;
    }
}

@media (min-width:375px) {
    .new-link,
    .shop-manager-list-link,
    .mail-link {
        font-size: 3.7vw;
    }
}

@media (min-width:425px) {
    .new-link,
    .shop-manager-list-link,
    .mail-link {
        font-size: 3.4vw;
    }
}

@media (min-width:768px) {
    .new-link,
        .shop-manager-list-link,
        .mail-link {
        font-size: 2vw;
    }
}

@media (min-width:1024px) {
    .new-link,
    .shop-manager-list-link,
    .mail-link {
        font-size: 1.6vw;
    }
}

@media (min-width:1440px) {
    .new-link,
    .shop-manager-list-link,
    .mail-link {
        font-size: 1.3vw;
    }
}

.admin-text {
    border: 1px solid #4169E1;
}

@media (min-width:320px) {
    .admin-text {
        font-size: 4vw;
    }
}

@media (min-width:375px) {
    .admin-text {
        font-size: 3.5vw;
    }
}

@media (min-width:425px) {
    .admin-text {
        font-size: 3.2vw;
    }
}

@media (min-width:768px) {
    .admin-text {
        font-size: 1.9vw;
    }
}

@media (min-width:1024px) {
    .admin-text {
        font-size: 1.5vw;
    }
}

@media (min-width:1440px) {
    .admin-text {
        font-size: 1.2vw;
    }
}