.admin-mail-form {
    display: inline-flex;
    flex-direction: column;
    width: 60vw;
    margin: 4vw 0;
    padding: 2vw 0;
    border-radius: 10px;
    box-shadow: 0.2vw 0.2vw 0.2vw 0.1vw #808080;
    background-color: #4169E1;
}

.admin-mail-form-title {
    display: flex;
    align-self: center;
    position: relative;
    background-color: #4169E1;
}

.admin-mail-form-title-text {
    font-size: 1.7vw;
    font-weight: bold;
    margin-bottom: 1.5vw;
    color: #fff;
    background-color: #4169E1;
}

.admin-home-button {
    border: none;
    position: absolute;
    top: 1.3vw;
    left: -4vw;
    width: 2vw;
    height: 2vw;
    font-size: 1.7vw;
    border-radius: 5px;
    background-color: #E0FFFF;
}

.admin-home-link {
    text-decoration: none;
    color: #000000;
}

.form,
.form-table,
.form-table-title,
.form-table-td {
    background-color: #4169E1;
}

.form {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: left;
}

.form-table-title {
    font-size: 1vw;
    width: 10vw;
    color: #fff;
}

.form-textarea {
    border-radius: 5px;
    width: 30vw;
    outline: none;
}

.form-button-submit {
    border: none;
    font-size: 1vw;
    border-radius: 5px;
    padding: 0.5vw 1vw;
    margin-top: 1vw;
    align-self: center;
    color: #fff;
    background-color: #0000ff;
}