
.done {
    display: inline-flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0.2vw 0.2vw 0.2vw 0.1vw #808080;
}

@media (min-width:768px) {
    .done {
        width: 60vw;
        height: 40vw;
        margin-top: 8vw;
    }
}

@media (min-width:1024px) {
    .done {
        width: 50vw;
        height: 30vw;
        margin-top: 5vw;
    }
}

@media (min-width:1440px) {
    .done {
        width: 40vw;
        height: 22vw;
        margin-top: 3vw;
    }
}

.done-text {
    font-weight: bold;
    background-color: #fff;
}

@media (min-width:768px) {
    .done-text {
        font-size: 3vw;
        margin-top: 14vw;
    }
}

@media (min-width:1024px) {
    .done-text {
        font-size: 2.5vw;
        margin-top: 10vw;
    }
}

@media (min-width:1440px) {
    .done-text {
        font-size: 2vw;
        margin-top: 7vw;
    }
}

.home-button {
    align-self: center;
    border: none;
    border-radius: 5px;
    margin-top: 2.5vw;
    background-color: #4169E1;
}

@media (min-width:768px) {
    .home-button {
        padding: 1vw 0;
        width: 16vw;
    }
}

@media (min-width:1024px) {
    .home-button {
        padding: 0.8vw 0;
        width: 13vw;
    }
}

@media (min-width:1440px) {
    .home-button {
        padding: 0.5vw 0;
        width: 10vw;
    }
}

.home-link {
    text-decoration: none;
    color: #fff;
}