
.qr-code-reader {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0.2vw 0.2vw 0.2vw 0.1vw #808080;
    background-color: #4169E1;
}

@media (min-width:320px) {
    .qr-code-reader {
        margin: 7vw 5vw;
        padding: 0 4vw;
    }
}

@media (min-width:375px) {
    .qr-code-reader {
        margin: 6vw;
    }
}

@media (min-width:425px) {
    .qr-code-reader {
        margin: 6vw 7vw;
        padding: 0 5vw;
    }
}

@media (min-width:768px) {
    .qr-code-reader {
        margin: 6vw 10vw;
    }
}

@media (min-width:1024px) {
    .qr-code-reader {
        margin: 6vw 15vw;
    }
}

@media (min-width:1440px) {
    .qr-code-reader {
        margin: 6vw 20vw;
    }
}


.qr-code-reader-title {
    display: flex;
    align-self: center;
    position: relative;
    background-color: #4169E1;
}

.qr-code-reader-title-text {
    font-weight: bold;
    color: #fff;
    background-color: #4169E1;
}

@media (min-width:320px) {
    .qr-code-reader-title-text {
        font-size: 5vw;
    }
}

@media (min-width:375px) {
    .qr-code-reader-title-text {
        font-size: 4.5vw;
    }
}

@media (min-width:425px) {
    .qr-code-reader-title-text {
        font-size: 4.2vw;
    }
}

@media (min-width:768px) {
    .qr-code-reader-title-text {
        font-size: 2.5vw;
    }
}

@media (min-width:1024px) {
    .qr-code-reader-title-text {
        font-size: 2vw;
    }
}

@media (min-width:1440px) {
    .qr-code-reader-title-text {
        font-size: 1.5vw;
    }
}

.shop-manager-home-button {
    border: none;
    position: absolute;
    border-radius: 5px;
    background-color: #E0FFFF;
}

@media (min-width:320px) {
    .shop-manager-home-button {
        top: 3.8vw;
        left: -9vw;
        width: 6.3vw;
        height: 6.3vw;
        font-size: 4.8vw;
    }
}

@media (min-width:375px) {
    .shop-manager-home-button {
        top: 3.6vw;
        width: 5.8vw;
        height: 5.8vw;
        font-size: 4.3vw;
    }
}

@media (min-width:425px) {
    .shop-manager-home-button {
        left: -8vw;
        width: 5vw;
        height: 5vw;
        font-size: 3.7vw;
    }
}

@media (min-width:768px) {
    .shop-manager-home-button {
        top: 2vw;
        left: -4.7vw;
        width: 3vw;
        height: 3vw;
        font-size: 2.4vw;
    }
}

@media (min-width:1024px) {
    .shop-manager-home-button {
        top: 1.6vw;
        left: -3.8vw;
        width: 2.4vw;
        height: 2.4vw;
        font-size: 1.8vw;
    }
}

@media (min-width:1440px) {
    .shop-manager-home-button {
        top: 1.2vw;
        left: -2.9vw;
        width: 1.8vw;
        height: 1.8vw;
        font-size: 1.3vw;
    }
}

.shop-manager-home-link {
    text-decoration: none;
    color: #000000;
}

.qr-code-text {
    background-color: #4169E1;
    color: #fff;
    margin-top: 0;
}

@media (min-width:320px) {
    .qr-code-text {
        font-size: 4vw;
    }
}

@media (min-width:375px) {
    .qr-code-text {
        font-size: 3.2vw;
    }
}

@media (min-width:425px) {
    .qr-code-text {
        font-size: 3vw;
    }
}

@media (min-width:768px) {
    .qr-code-text {
        font-size: 1.7vw;
    }
}

@media (min-width:1024px) {
    .qr-code-text {
        font-size: 1.3vw;
    }
}

@media (min-width:1440px) {
    .qr-code-text {
        font-size: 1vw;
    }
}