.shop-manager-shop-list {
    display: inline-flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #fff;
}

@media (min-width:768px) {
    .shop-manager-shop-list {
        width: 85vw;
        padding: 1.2vw 0;
        margin: 7vw 0;
    }
}

@media (min-width:1024px) {
    .shop-manager-shop-list {
        width: 80vw;
        padding: 1.2vw 0;
        margin: 5vw 0;
    }
}

@media (min-width:1440px) {
    .shop-manager-shop-list {
        width: 70vw;
        padding: 1.2vw 0;
        margin: 3vw 0;
    }
}

.shop-list-title {
    position: relative;
    top: -2.5vw;
    font-weight: bold;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #4169E1;
    color: #fff;
}

@media (min-width:768px) {
    .shop-list-title {
        width: 85vw;
        font-size: 2.5vw;
        padding: 2vw 0;
    }
}

@media (min-width:1024px) {
    .shop-list-title {
        width: 80vw;
        font-size: 2vw;
        padding: 1.7vw 0;
    }
}

@media (min-width:1440px) {
    .shop-list-title {
        width: 70vw;
        font-size: 1.8vw;
        padding: 1.5vw 0;
    }
}

.shop-list-table {
    align-self: center;
    border-bottom-style: hidden;
    background-color: #fff;
    margin-bottom: 1vw;
}

.shop-list-tr, .shop-list-th, .shop-list-td,
.shop-edit-link-td, .shop-menu-list-link-td,
.shop-menu-new-link-td, .shop-reserve-list-link-td {
    background-color: #fff;
}

@media (min-width:768px) {
    .shop-list-th {
        padding: 2vw 1vw;
        font-size: 2vw;
    }
}

@media (min-width:1024px) {
    .shop-list-th {
        padding: 1.3vw 0;
        font-size: 1.5vw;
    }
}

@media (min-width:1440px) {
    .shop-list-th {
        padding: 1vw 0;
        font-size: 1.2vw;
    }
}

.shop-list-tr {
    border: 0.15vw solid #c0c0c0;
    border-right-style: hidden;
    border-left-style: hidden;
}

@media (min-width:768px) {
    .shop-list-td {
        padding: 1.5vw 3vw;
        font-size: 1.7vw;
    }
}

@media (min-width:1024px) {
    .shop-list-td {
        padding: 1.3vw 3vw;
        font-size: 1.3vw;
    }
}

@media (min-width:1440px) {
    .shop-list-td {
        padding: 1vw 3vw;
        font-size: 1vw;
    }
}

.shop-edit-link-td,
.shop-menu-new-link-td,
.shop-menu-list-link-td,
.shop-reserve-list-link-td {
    display: flex;
}

.shop-edit-link, .shop-menu-new-link,
.shop-menu-list-link, .shop-reserve-list-link {
    text-decoration: none;
    background-color: #fff;
    margin: 0 1vw;
}

@media (min-width:768px) {
    .shop-edit-link,
    .shop-menu-new-link,
    .shop-menu-list-link,
    .shop-reserve-list-link {
        font-size: 1.7vw;
        margin: 0.5vw;
    }
}

@media (min-width:1024px) {
    .shop-edit-link,
    .shop-menu-new-link,
    .shop-menu-list-link,
    .shop-reserve-list-link {
        font-size: 1.3vw;
        margin: 0.3vw;
    }
}

@media (min-width:1440px) {
    .shop-edit-link,
    .shop-menu-new-link,
    .shop-menu-list-link,
    .shop-reserve-list-link {
        font-size: 1vw;
        margin: 0.2vw;
    }
}

.shop-edit-link, .shop-menu-list-link {
    color: #FF8C00;
}

.shop-menu-new-link, .shop-reserve-list-link {
    color: #3CB371;
}

.shop-manager-button {
    align-self: center;
    border: none;
    border-radius: 5px;
    background-color: #4169E1;
}

@media (min-width:768px) {
    .shop-manager-button {
        padding: 0.8vw 2vw;
        margin: 1.5vw;
        font-size: 1.6vw;
    }
}

@media (min-width:1024px) {
    .shop-manager-button {
        padding: 0.6vw 1.6vw;
        margin: 1.3vw;
        font-size: 1.3vw;
    }
}

@media (min-width:1440px) {
    .shop-manager-button {
        padding: 0.5vw 1.2vw;
        margin: 1vw;
        font-size: 1vw;
    }
}

.shop-manager-home-link {
    text-decoration: none;
    color: #fff;
}

.pagination {
    background-color: #fff;
    padding: 1vw;
}
