
.shop-manager-shop-list {
    display: inline-flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #fff;
}

@media (min-width:320px) {
    .shop-manager-shop-list {
        width: 93vw;
        padding: 1.9vw 0;
        margin: 17vw 0;
    }
}

@media (min-width:375px) {
    .shop-manager-shop-list {
        width: 90vw;
        padding: 1.9vw 0;
        margin: 16vw 0;
    }
}

@media (min-width:768px) {
    .shop-manager-shop-list {
        width: 80vw;
        padding: 1.9vw 0;
        margin: 5vw 0;
    }
}

@media (min-width:1024px) {
    .shop-manager-shop-list {
        width: 70vw;
        padding: 1.5vw 0;
        margin: 4vw 0;
    }
}


@media (min-width:1440px) {
    .shop-manager-shop-list {
        width: 60vw;
        padding: 1.2vw 0;
        margin: 3vw 0;
    }
}

.shop-list-title {
    position: relative;
    font-weight: bold;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #4169E1;
    color: #fff;
}

@media (min-width:320px) {
    .shop-list-title {
        top: -4.8vw;
        font-size: 5vw;
        padding: 2vw 0;
        width: 93vw;
    }
}

@media (min-width:375px) {
    .shop-list-title {
        top: -5vw;
        font-size: 4.5vw;
        padding: 2vw 0;
        width: 90vw;
    }
}

@media (min-width:768px) {
    .shop-list-title {
        top: -3.6vw;
        font-size: 2.7vw;
        padding: 2vw 0;
        width: 80vw;
    }
}

@media (min-width:1024px) {
    .shop-list-title {
        top: -2.8vw;
        font-size: 2vw;
        padding: 1.7vw 0;
        width: 70vw;
    }
}

@media (min-width:1440px) {
    .shop-list-title {
        top: -2.5vw;
        font-size: 1.7vw;
        padding: 1.5vw 0;
        width: 60vw;
    }
}

.shop-list-table {
    align-self: center;
    border-bottom-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    background-color: #fff;
}

@media (min-width:320px) {
    .shop-list-table {
        margin: 0 2vw 3vw 2vw;
    }
}

@media (min-width:768px) {
    .shop-list-table {
        margin-bottom: 2vw;
    }
}

@media (min-width:1024px) {
    .shop-list-table {
        margin-bottom: 1.5vw;
    }
}

@media (min-width:1440px) {
    .shop-list-table {
        margin-bottom: 1vw;
    }
}

.shop-list-th,
.shop-list-tr,
.shop-list-td {
    border-right-style: hidden;
    border-left-style: hidden;
    background-color: #fff;
}

@media (min-width:320px) {
    .shop-list-th {
        padding: 2vw 0;
        font-size: 3.5vw;
    }
}

@media (min-width:375px) {
    .shop-list-th {
        font-size: 3.3vw;
    }
}

@media (min-width:425px) {
    .shop-list-th {
        font-size: 3vw;
    }
}

@media (min-width:768px) {
    .shop-list-th {
        padding: 2vw 0;
        font-size: 2vw;
    }
}

@media (min-width:1024px) {
    .shop-list-th {
        padding: 1.5vw 0;
        font-size: 1.5vw;
    }
}

@media (min-width:1440px) {
    .shop-list-th {
        padding: 1vw 0;
        font-size: 1.2vw;
    }
}

@media (min-width:320px) {
    .shop-list-tr {
        border: 0.3vw solid #c0c0c0;
    }
}

@media (min-width:768px) {
    .shop-list-tr {
        border: 0.25vw solid #c0c0c0;
    }
}

@media (min-width:1024px) {
    .shop-list-tr {
        border: 0.2vw solid #c0c0c0;
    }
}

@media (min-width:1440px) {
    .shop-list-tr {
        border: 0.15vw solid #c0c0c0;
    }
}

.shop-edit-link-td,
.shop-menu-new-link-td,
.shop-menu-list-link-td,
.shop-reserve-list-link-td {
    background-color: #fff;
    text-align: start;
}

.shop-edit-link,
.shop-menu-new-link,
.shop-menu-list-link,
.shop-reserve-list-link {
    background-color: #fff;
    text-decoration: none;
}

.shop-edit-link, .shop-menu-list-link {
    color: #fc8302;
}

.shop-menu-new-link, .shop-reserve-list-link {
    color: #32CD32;
}

@media (min-width:320px) {
    .shop-list-td {
        padding: 1.5vw 0.7vw;
        font-size: 3.5vw;
    }
}

@media (min-width:375px) {
    .shop-list-td {
        font-size: 3.2vw;
    }
}

@media (min-width:425px) {
    .shop-list-td {
        font-size: 3vw;
    }
}

@media (min-width:768px) {
    .shop-list-td {
        padding: 1.8vw 3vw;
        font-size: 1.9vw;
    }
}

@media (min-width:1024px) {
    .shop-list-td {
        padding: 1.5vw 3vw;
        font-size: 1.4vw;
    }
}

@media (min-width:1440px) {
    .shop-list-td {
        padding: 1vw 3vw;
        font-size: 1vw;
    }
}

.shop-manager-button {
    align-self: center;
    border: none;
    border-radius: 5px;
    background-color: #4169E1;
}

@media (min-width:320px) {
    .shop-manager-button {
        padding: 1.5vw 0;
        width: 13vw;
        font-size: 3vw;
        margin-top: 3vw;
    }
}

@media (min-width:768px) {
    .shop-manager-button {
        padding: 0.8vw 0;
        width: 8vw;
        font-size: 1.9vw;
        margin-top: 2vw;
    }
}

@media (min-width:1024px) {
    .shop-manager-button {
        padding: 0.6vw 0;
        width: 6.5vw;
        font-size: 1.3vw;
        margin-top: 1.5vw;
    }
}

@media (min-width:1440px) {
    .shop-manager-button {
        padding: 0.5vw 0;
        width: 5vw;
        font-size: 1vw;
        margin-top: 1vw;
    }
}

.shop-manager-home-link {
    text-decoration: none;
    color: #fff;
}

.pagination {
    background-color: #fff;
}

@media (min-width:320px) {
    .pagination {
        padding: 2vw;
    }
}

@media (min-width:1024px) {
    .pagination {
        padding: 1.5vw;
    }
}

@media (min-width:1440px) {
    .pagination {
        padding: 1vw;
    }
}

.current-paginate-page,
.another-paginate-page,
.another-paginate,
.page-link-prev,
.page-link-next {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    border: 0.5px solid #00BFFF;
    background-color: #00BFFF;
}

@media (min-width:320px) {
    .current-paginate-page,
    .another-paginate-page,
    .another-paginate,
    .page-link-prev,
    .page-link-next {
        font-size: 2.8vw;
        padding: 1vw 2vw;
    }
}

@media (min-width:768px) {
    .current-paginate-page,
    .another-paginate-page,
    .another-paginate,
    .page-link-prev,
    .page-link-next {
        font-size: 1.9vw;
        padding: 0.5vw 1vw;
    }
}

@media (min-width:1024px) {
    .current-paginate-page,
    .another-paginate-page,
    .another-paginate,
    .page-link-prev,
    .page-link-next {
        font-size: 1.3vw;
        padding: 0.45vw 0.9vw;
    }
}

@media (min-width:1440px) {
    .current-paginate-page,
    .another-paginate-page,
    .another-paginate,
    .page-link-prev,
    .page-link-next {
        font-size: 1vw;
        padding: 0.4vw 0.8vw;
    }
}

.another-paginate-page {
    color: #fff;
}

.current-paginate-page {
    color: #fff;
    background-color: #00008B;
    border: 0.5px solid #00008B;
}