.shop-manager-shop-list {
    display: inline-flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #fff;
}

@media (min-width:768px) {
    .shop-manager-shop-list {
        width: 90vw;
        padding: 1.2vw 0;
        margin: 7vw 0;
    }
}

@media (min-width:1024px) {
    .shop-manager-shop-list {
        width: 88vw;
        padding: 1.2vw 0;
        margin: 5vw 0;
    }
}

@media (min-width:1440px) {
    .shop-manager-shop-list {
        width: 90vw;
        padding: 1.2vw 0;
        margin: 3vw 0;
    }
}

.shop-list-title {
    position: relative;
    top: -2.5vw;
    font-weight: bold;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #4169E1;
    color: #fff;
}

@media (min-width:768px) {
    .shop-list-title {
        width: 90vw;
        font-size: 2.5vw;
        padding: 2vw 0;
    }
}

@media (min-width:1024px) {
    .shop-list-title {
        width: 88vw;
        font-size: 2vw;
        padding: 1.7vw 0;
    }
}

@media (min-width:1440px) {
    .shop-list-title {
        width: 90vw;
        font-size: 1.8vw;
        padding: 1.5vw 0;
    }
}

.shop-list-table {
    align-self: center;
    border-bottom-style: hidden;
    background-color: #fff;
    margin-bottom: 1vw;
}

.shop-list-th, .shop-list-td {
    background-color: #fff;
}

@media (min-width:768px) {
    .shop-list-th {
        padding: 1.5vw 0;
        font-size: 1.8vw;
    }
}

@media (min-width:1024px) {
    .shop-list-th {
        padding: 1.3vw 0;
        font-size: 1.5vw;
    }
}

@media (min-width:1440px) {
    .shop-list-th {
        padding: 1vw 0;
        font-size: 1.2vw;
    }
}

.shop-list-tr {
    border: 0.15vw solid #c0c0c0;
    border-right-style: hidden;
    border-left-style: hidden;
}

@media (min-width:768px) {
    .shop-list-td {
        padding: 1.5vw 3vw;
        font-size: 1.5vw;
    }
}

@media (min-width:1024px) {
    .shop-list-td {
        padding: 1.3vw 3vw;
        font-size: 1.3vw;
    }
}

@media (min-width:1440px) {
    .shop-list-td {
        padding: 1vw 3vw;
        font-size: 1vw;
    }
}

.shop-edit-link, .shop-menu-new-link, .shop-menu-list-link, .shop-reserve-list-link {
    text-decoration: none;
    background-color: #fff;
    margin: 0 1vw;
}

@media (min-width:768px) {
    .shop-edit-link,
    .shop-menu-new-link,
    .shop-menu-list-link,
    .shop-reserve-list-link {
        font-size: 1.5vw;
    }
}

@media (min-width:1024px) {
    .shop-edit-link,
    .shop-menu-new-link,
    .shop-menu-list-link,
    .shop-reserve-list-link {
        font-size: 1.3vw;
    }
}

@media (min-width:1440px) {
    .shop-edit-link,
    .shop-menu-new-link,
    .shop-menu-list-link,
    .shop-reserve-list-link {
        font-size: 1vw;
    }
}

.shop-edit-link, .shop-menu-list-link {
    color: #FF8C00;
}

.shop-menu-new-link, .shop-reserve-list-link {
    color: #3CB371;
}

.shop-manager-button {
    align-self: center;
    border: none;
    padding: 0.5vw 0;
    margin: 1vw;
    font-size: 1vw;
    width: 5vw;
    border-radius: 5px;
    background-color: #4169E1;
}

.shop-manager-home-link {
    text-decoration: none;
    color: #fff;
}

.pagination {
    background-color: #fff;
    padding: 1vw;
}

.current-paginate-page,
.another-paginate-page,
.another-paginate,
.page-link-prev,
.page-link-next {
    text-decoration: none;
    font-size: 1vw;
    padding: 0.4vw 0.8vw;
    cursor: pointer;
    color: #fff;
    border: 0.5px solid #00BFFF;
    background-color: #00BFFF;
}

.another-paginate-page {
    color: #fff;
}

.current-paginate-page {
    color: #fff;
    background-color: #00008B;
    border: 0.5px solid #00008B;
}