* {
    background-color: #ededed;
}

.body.active {
    height: 100%;
    overflow: hidden;
}

@media (min-width:320px) {
    .header {
        position: sticky;
        top: 0;
        z-index: 2;
        padding: 8vw 3vw 12vw 3vw;
    }
}

@media (min-width:375px) {
    .header {
        padding: 8vw 3vw 12vw 4vw;
    }
}

@media (min-width:768px) {
    .header {
        padding: 5vw 7vw 8vw 7vw;
    }
}

@media (min-width:1024px) {
    .header {
        padding: 5vw 7vw 5vw 7vw;
    }
}

@media (min-width:1440px) {
    .header {
        padding: 4vw 6vw 5vw 6vw;
    }
}

.app-logo {
    color: #4169E1;
    position: absolute;
}

@media (min-width:320px) {
    .app-logo {
        font-size: 7vw;
        top: 3.6vw;
        left: 18vw;
    }
}

@media (min-width:375px) {
    .app-logo {
        font-size: 6.3vw;
        top: 4vw;
    }
}

@media (min-width:425px) {
    .app-logo {
        font-size: 5.8vw;
        top: 4.2vw;
    }
}

@media (min-width:768px) {
    .app-logo{
        font-size: 3.5vw;
        top: 3.5vw;
        left: 15vw;
    }
}

@media (min-width:1024px) {
    .app-logo {
        font-size: 3.1vw;
        top: 3.5vw;
        left: 13.5vw;
    }
}

@media (min-width:1440px) {
    .app-logo {
        font-size: 2.9vw;
        top: 2.8vw;
        left: 12vw;
    }
}

@media (min-width:320px) {
    .shop-list-search {
        position: relative;
        top: 12vw;
        left: 0;
        padding-bottom: 3vw;
        margin-left: 3vw;
    }
}

@media (min-width:375px) {
    .shop-list-search {
        top: 11vw;
        margin-left: 2.5vw;
    }
}

@media (min-width:425px) {
    .shop-list-search {
        top: 11vw;
        margin-left: 1.7vw;
    }
}

@media (min-width:768px) {
    .shop-list-search {
        position: absolute;
        padding-bottom: 1vw;
        top: 8vw;
        left: 33vw;
    }
}

@media (min-width:1024px) {
    .shop-list-search {
        top: 5vw;
        left: 40vw;
    }
}

@media (min-width:1440px) {
    .shop-list-search {
        top: 5vw;
        left: 45vw;
    }
}

.search-form {
    display: flex;
    position: relative;
    border-radius: 5px;
    box-shadow: 0.2vw 0.2vw 1vw 0 #808080;
}

.search-sort {
    position: absolute;
    appearance: none;
    border: none;
    background-color: #fff;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0.2vw 0.2vw 1vw 0 #808080;
}

.search-area,
.search-genre {
    appearance: none;
    border: none;
    background-color: #fff;
    cursor: pointer;
    background-image: linear-gradient(#d4d3d3, #d4d3d3);
    background-repeat: no-repeat;
    background-position: right center;
}

@media (min-width:320px) {
    .search-area,
    .search-genre {
        height: 10vw;
        font-size: 4vw;
        background-size: 1px 70%;
    }
}

@media (min-width:425px) {
    .search-area,
    .search-genre {
        height: 9vw;
        font-size: 3.5vw;
        background-size: 1px 70%;
    }
}

@media (min-width:768px) {
    .search-area,
    .search-genre {
        height: 5.5vw;
        font-size: 1.7vw;
        background-size: 1px 70%;
    }
}

@media (min-width:1024px) {
    .search-area,
    .search-genre {
        height: 4.8vw;
        font-size: 1.3vw;
        background-size: 1px 65%;
    }
}

@media (min-width:1440px) {
    .search-area,
    .search-genre {
        height: 4.5vw;
        font-size: 1vw;
        background-size: 1px 60%;
    }
}

@media (min-width:320px) {
    .search-sort {
        padding: 3vw;
        top: -14vw;
        left: 47vw;
        font-size: 3.5vw;
    }
}

@media (min-width:375px) {
    .search-sort {
        padding: 2.6vw;
        top: -13vw;
        font-size: 3.3vw;
    }
}

@media (min-width:425px) {
    .search-sort {
        padding: 2.5vw;
        top: -12vw;
        font-size: 2.8vw;
    }
}

@media (min-width:768px) {
    .search-sort {
        padding: 1.3vw;
        top: -5.5vw;
        left: 0;
        font-size: 1.7vw;
    }
}

@media (min-width:1024px) {
    .search-sort {
        padding: 1.2vw;
        top: 0;
        left: -17vw;
        font-size: 1.4vw;
    }
}

@media (min-width:1440px) {
    .search-sort {
        padding: 1.1vw;
        left: -14vw;
        font-size: 1.1vw;
    }
}

.option-default {
    display: none;
}

.option-sort:hover {
    background-color: #4169E1;
}

.search-area {
    padding: 0 3.5vw 0 1.5vw;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search-genre {
    padding: 0 2vw 0 1vw;
}

.select-area::after,
.select-genre::after {
    position: absolute;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f107';
    color: #d4d3d3;
}

@media (min-width:320px) {
    .select-area::after,
    .select-genre::after {
        font-size: 5vw;
        top: 1.5vw;
    }
}

@media (min-width:425px) {
    .select-area::after,
    .select-genre::after {
        font-size: 4vw;
        top: 1.5vw;
    }
}

@media (min-width:768px) {
    .select-area::after,
    .select-genre::after {
        font-size: 2.5vw;
        top: 1vw;
    }
}

@media (min-width:1024px) {
    .select-area::after,
    .select-genre::after {
        font-size: 2vw;
    }
}

@media (min-width:1440px) {
    .select-area::after,
    .select-genre::after {
        font-size: 1.5vw;
        top: 1.3vw;
    }
}

@media (min-width:320px) {
    .select-area::after {
        left: 16.5vw;
    }
}

@media (min-width:425px) {
    .select-area::after {
        left: 15vw;
    }
}

@media (min-width:768px) {
    .select-area::after {
        left: 9vw;
    }
}

@media (min-width:1024px) {
    .select-area::after {
        left: 7.5vw;
    }
}

@media (min-width:1440px) {
    .select-area::after {
        left: 7vw;
    }
}

@media (min-width:320px) {
    .select-genre::after {
        left: 39.5vw;
    }
}

@media (min-width:425px) {
    .select-genre::after {
        left: 36vw;
    }
}

@media (min-width:768px) {
    .select-genre::after {
        left: 20.5vw;
    }
}

@media (min-width:1024px) {
    .select-genre::after {
        left: 17.5vw;
    }
}

@media (min-width:1440px) {
    .select-genre::after {
        left: 15vw;
    }
}

.search-keyword {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

@media (min-width:320px) {
    .search-keyword {
        font-size: 4vw;
        width: 39.5vw;
    }
}

@media (min-width:425px) {
    .search-keyword {
        font-size: 3.5vw;
        width: 46vw;
    }
}

@media (min-width:768px) {
    .search-keyword {
        font-size: 1.7vw;
        width: 28vw;
    }
}

@media (min-width:1024px) {
    .search-keyword {
        font-size: 1.3vw;
        width: 27vw;
    }
}

@media (min-width:1440px) {
    .search-keyword {
        font-size: 1vw;
        width: 25vw;
    }
}

.search-button,
.search-keyword {
    background-color: #fff;
    border: none;
}

@media (min-width:320px) {
    .search-button,
    .search-keyword {
        padding: 0 1.5vw;
        height: 10vw;
    }
}

@media (min-width:425px) {
    .search-button,
    .search-keyword {
        padding: 0 1.5vw;
        height: 9vw;
    }
}

@media (min-width:768px) {
    .search-button,
    .search-keyword {
        padding: 0 1vw;
        height: 5.5vw;
    }
}

@media (min-width:1024px) {
    .search-button,
    .search-keyword {
        padding: 0 1vw;
        height: 4.8vw;
    }
}

@media (min-width:1440px) {
    .search-button,
    .search-keyword {
        padding: 0 1vw;
        height: 4.5vw;
    }
}

.search-button::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f002';
    background-color: #fff;
    color: #d4d3d3;
}

@media (min-width:320px) {
    .search-button::before {
        font-size: 4vw;
    }
}

@media (min-width:425px) {
    .search-button::before {
        font-size: 3vw;
    }
}

@media (min-width:768px) {
    .search-button::before {
        font-size: 2.3vw;
    }
}

@media (min-width:1024px) {
    .search-button::before {
        font-size: 1.8vw;
    }
}

@media (min-width:1440px) {
    .search-button::before {
        font-size: 1.5vw;
    }
}

.main {
    text-align: center;
    position: relative;
}

.menu-button {
    position: relative;
    z-index: 999;
    cursor: pointer;
    border-radius: 5px;
}

@media (min-width:320px) {
    .menu-button {
        width: 2vw;
        height: 2vw;
    }
}

.menu-nav {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    text-align: center;
    transition: .5s;
}

.menu-nav.active {
    left: 0;
}

.menu-list {
    background-color: #fff;
}

@media (min-width:320px) {
    .menu-list {
        padding-top: 60vw;
    }
}

@media (min-width:375px) {
    .menu-list {
        padding-top: 55vw;
    }
}

@media (min-width:425px) {
    .menu-list {
        padding-top: 50vw;
    }
}

@media (min-width:768px) {
    .menu-list {
        padding-top: 38vw;
    }
}

@media (min-width:1024px) {
    .menu-list {
        padding-top: 30vw;
    }
}

@media (min-width:1440px) {
    .menu-list {
        padding-top: 20vw;
    }
}

.menu-list-contents {
    list-style: none;
    cursor: pointer;
    background-color: #fff;
    margin-top: 1.5vw;
}

.logout-button, .menu-link, .user, .admin, .shop-manager {
    background-color: #fff;
    color: #4169E1;
    cursor: pointer;
}

.menu-link, .user, .admin, .shop-manager {
    text-decoration: none;
}

@media (min-width:320px) {
    .menu-link, .user, .admin, .shop-manager {
        font-size: 7vw;
    }
}

@media (min-width:375px) {
    .menu-link, .user, .admin, .shop-manager {
        font-size: 6.5vw;
    }
}

@media (min-width:425px) {
    .menu-link, .user, .admin, .shop-manager {
        font-size: 6vw;
    }
}

@media (min-width:768px) {
    .menu-link, .user, .admin, .shop-manager {
        font-size: 4.5vw;
    }
}

@media (min-width:1024px) {
    .menu-link, .user, .admin, .shop-manager {
        font-size: 3.8vw;
    }
}

@media (min-width:1440px) {
    .menu-link, .user, .admin, .shop-manager {
        font-size: 3vw;
    }
}

.admin, .shop-manager {
    background-image: linear-gradient(#4169E1, #4169E1);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 2px 70%;
}

.user {
    padding-right: 1.3vw;
}

.admin {
    padding: 0 1.6vw;
}

.shop-manager {
    padding-left: 1.3vw;
}

.logout-button {
    border: none;
    margin-bottom: 0.5vw;
}

@media (min-width:320px) {
    .logout-button {
        font-size: 7.2vw;
    }
}

@media (min-width:375px) {
    .logout-button {
        font-size: 6.5vw;
    }
}

@media (min-width:425px) {
    .logout-button {
        font-size: 6.2vw;
    }
}

@media (min-width:768px) {
    .logout-button {
        font-size: 4.7vw;
    }
}

@media (min-width:1024px) {
    .logout-button {
        font-size: 4.1vw;
    }
}

@media (min-width:1440px) {
    .logout-button {
        font-size: 3.3vw;
    }
}

.menu-open::before,
.menu-close::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    background-color: #4169E1;
    border-radius: 5px;
    box-shadow: 0.2vw 0.2vw 0.2vw 0.1vw #808080;
    position: absolute;
    color: #fff;
}

.menu-open::before {
    content: '\f00d';
}

@media (min-width:320px) {
    .menu-open::before {
        font-size: 5vw;
        padding: 1.2vw 3.4vw;
    }
}

@media (min-width:375px) {
    .menu-open::before {
        font-size: 4.5vw;
    }
}

@media (min-width:425px) {
    .menu-open::before {
        font-size: 4vw;
    }
}

@media (min-width:768px) {
    .menu-open::before {
        font-size: 2.5vw;
        padding: 1.2vw 2.25vw;
    }
}

@media (min-width:1024px) {
    .menu-open::before {
        font-size: 2.2vw;
        padding: 1.1vw 1.9vw;
    }
}

@media (min-width:1440px) {
    .menu-open::before {
        font-size: 2vw;
        padding: 1vw 1.7vw;
    }
}

.menu-close::before {
    padding: 1vw 1.5vw;
    content: '\f0c9';
}

@media (min-width:320px) {
    .menu-close::before {
        font-size: 5vw;
        padding: 1.2vw 3vw;
    }
}

@media (min-width:375px) {
    .menu-close::before {
        font-size: 4.5vw;
    }
}

@media (min-width:425px) {
    .menu-close::before {
        font-size: 4vw;
    }
}

@media (min-width:768px) {
    .menu-close::before {
        font-size: 2.5vw;
        padding: 1.2vw 2vw;
    }
}

@media (min-width:1024px) {
    .menu-close::before {
        font-size: 2.2vw;
        padding: 1.1vw 1.7vw;
    }
}

@media (min-width:1440px) {
    .menu-close::before {
        font-size: 2vw;
        padding: 1vw 1.5vw;
    }
}

.menu-close {
    opacity: 1;
}

.menu-close.active {
    opacity: 0;
}

.menu-open {
    opacity: 0;
}

.menu-open.active {
    opacity: 1;
}
