.login-content {
    display: inline-flex;
    flex-direction: column;
    margin-top: 8vw;
    width: 30vw;
}

.login-title, .login-form {
    box-shadow: 0.2vw 0.2vw 0.2vw 0.1vw #808080;
}

.login-title {
    background-color: #4169E1;
    text-align: left;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: #fff;
    font-size: 1.5vw;
    padding: 1.4vw 2vw;
}

.login-form {
    padding: 0 0 1vw 2vw;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.form-group,
.form-mail,
.form-password,
.login-form,
.form-input,
.mail-icon,
.password-icon,
.form-button,
.login-error {
    background-color: #fff;
}

.login-error {
    width: fit-content;
    font-size: 0.8em;
    margin-left: 6vw;
    color: #f00;
}

.form-mail {
    margin-top: 2vw;
}

.form-input {
    border: none;
    outline: none;
    border-bottom: solid #696969;
    font-size: 1.3vw;
    margin: 1vw 2vw 1vw 0.5vw;
    width: 80%;
}

.mail-icon::before,
.password-icon::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 1.5vw;
}

.mail-icon::before {
    content: '\f0e0';
}

.password-icon::before {
    content: '\f023';
}

.form-button {
    margin: 1vw 3vw;
    text-align: right;
}

.form-button-submit {
    background-color: #4169E1;
    color: #fff;
    border: none;
    font-size: 1.2vw;
    border-radius: 5px;
    padding: 0.5vw 1vw;
    cursor: pointer;
}