
.register-content {
    display: inline-flex;
    flex-direction: column;
}

@media (min-width:768px) {
    .register-content {
        margin-top: 15vw;
        width: 50vw;
    }
}

@media (min-width:1024px) {
    .register-content {
        margin-top: 12vw;
        width: 40vw;
    }
}

@media (min-width:1440px) {
    .register-content {
        margin-top: 8vw;
        width: 30vw;
    }
}

.register-title,
.register-form {
    box-shadow: 0.2vw 0.2vw 0.2vw 0.1vw #808080;
}

.register-title {
    background-color: #4169E1;
    text-align: left;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: #fff;
}

@media (min-width:768px) {
    .register-title {
        font-size: 2.5vw;
        padding: 2vw 3vw;
    }
}

@media (min-width:1024px) {
    .register-title {
        font-size: 2vw;
        padding: 1.6vw 2.5vw;
    }
}

@media (min-width:1440px) {
    .register-title {
        font-size: 1.5vw;
        padding: 1.4vw 2vw;
    }
}

.register-form {
    padding: 0 0 1vw 2vw;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.form-group,
.form-name,
.form-mail,
.form-password,
.register-form,
.form-input,
.name-icon,
.mail-icon,
.password-icon,
.form-button,
.register-error {
    background-color: #fff;
}

.register-error {
    width: fit-content;
    color: #f00;
}

@media (min-width:768px) {
    .register-error {
        font-size: 1.6vw;
        margin-left: 8vw;
    }
}

@media (min-width:1024px) {
    .register-error {
        font-size: 1.3vw;
        margin-left: 6vw;
    }
}

@media (min-width:1440px) {
    .register-error {
        font-size: 1vw;
        margin-left: 4vw;
    }
}

@media (min-width:768px) {
    .form-name {
        margin-top: 4vw;
    }
}

@media (min-width:1024px) {
    .form-name {
        margin-top: 2.5vw;
    }
}

@media (min-width:1440px) {
    .form-name {
        margin-top: 2vw;
    }
}

.form-input {
    border: none;
    outline: none;
    border-bottom: solid #696969;
    width: 80%;
}

@media (min-width:768px) {
    .form-input {
        font-size: 2.3vw;
        margin: 1.5vw 2.5vw 1.5vw 1vw;
    }
}

@media (min-width:1024px) {
    .form-input {
        font-size: 1.8vw;
        margin: 1.2vw 2.2vw 1.2vw 0.8vw;
    }
}

@media (min-width:1440px) {
    .form-input {
        font-size: 1.3vw;
        margin: 1vw 2vw 1vw 0.5vw;
    }
}

.name-icon::before,
.mail-icon::before,
.password-icon::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

@media (min-width:768px) {
    .name-icon::before,
    .mail-icon::before,
    .password-icon::before {
        font-size: 2.5vw;
    }
}

@media (min-width:1024px) {
    .name-icon::before,
    .mail-icon::before,
    .password-icon::before {
        font-size: 2vw;
    }
}

@media (min-width:1440px) {
    .name-icon::before,
    .mail-icon::before,
    .password-icon::before {
        font-size: 1.5vw;
    }
}

.name-icon::before {
    content: '\f007';
}

.mail-icon::before {
    content: '\f0e0';
}

.password-icon::before {
    content: '\f023';
}

.form-button {
    text-align: right;
}

@media (min-width:768px) {
    .form-button {
        margin: 1.5vw 3.5vw;
    }
}

@media (min-width:1024px) {
    .form-button {
        margin: 1.2vw 3.2vw;
    }
}

@media (min-width:1440px) {
    .form-button {
        margin: 1vw 3vw;
    }
}

.form-button-submit {
    background-color: #4169E1;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (min-width:768px) {
    .form-button-submit {
        padding: 1vw 2vw;
        font-size: 1.9vw;
    }
}

@media (min-width:1024px) {
    .form-button-submit {
        padding: 0.7vw 1.5vw;
        font-size: 1.5vw;
    }
}

@media (min-width:1440px) {
    .form-button-submit {
        padding: 0.5vw 1vw;
        font-size: 1.2vw;
    }
}