.shop-detail {
    display: flex;
    justify-content: space-between;
    padding: 0 5vw;
}

.shop-detail-contents {
    display: flex;
    flex-direction: column;
    width: 45%;
    text-align: left;
}

.shop-name {
    font-size: 2vw;
    font-weight: bold;
}

.shop-list-button {
    font-size: 2.1vw;
    margin: 2vh 2vh 2vh 0;
    padding: 0 1vh;
    border: none;
    background-color: #fff;
    box-shadow: 0.2vw 0.2vw 0.2vw 0.2vw #808080;
    border-radius: 5px;
}

.shop-list-link {
    text-decoration: none;
}

.shop-detail-info {
    display: flex;
    flex-direction: column;
}

.shop-reserve {
    text-align: left;
    width: 45%;
    background-color: #4169E1;
    border-radius: 5px;
    padding: 0.3vh 2.5vw;
}

.reserve-title {
    background-color: #4169E1;
    color: #fff;
    font-size: 2vw;
    font-weight: bold;
}

.reserve-confirm {
    background-color: #6495ED;
    border-radius: 5px;
}

.reserve-button {
    background-color: #0000ff;
    color: #fff;
    border: none;
}