.store-manager-new {
    display: inline-flex;
    flex-direction: column;
    width: 70vw;
    height: 35vw;
    margin: 4vw 0;
    padding: 2vw 6vw;
    border-radius: 10px;
    background-color: #4169E1;
}

.store-create-title {
    font-size: 2vw;
    font-weight: bold;
    color: #fff;
    background-color: #4169E1;
}

.create-form, .create-table-title, .create-table-td {
    background-color: #4169E1;
}

.create-form {
    display: flex;
    flex-direction: column;
}

.create-table-title {
    color: #fff;
}

.information-create-button {
    border: none;
    font-size: 1.3vw;
    border-radius: 5px;
    padding: 0.5vw 1.5vw;
    width: 10vw;
    align-self: center;
    color: #fff;
    background-color: #0000ff;
}