.stripe, .stripe-contents, .stripe-title, .stripe-form, .form-group, .stripe-input, .form-label {
    background-color: #fff;
}

.stripe {
    border: 5px solid #FF4500;
    border-radius: 10px;
    box-shadow: 0.2vw 0.2vw 0.2vw 0.1vw #808080;
    width: fit-content;
}

.stripe-contents {
    display: inline-flex;
    flex-direction: column;
}

.stripe-title {
    border-bottom: 5px solid #FF4500;
}

.stripe-input {
    border: none;
    outline: none;
    border-bottom: 1px solid #483D8B;
}
