
.shop-info-new {
    display: inline-flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0.2vw 0.2vw 0.2vw 0.1vw #808080;
    background-color: #4169E1;
}

@media (min-width:320px) {
    .shop-info-new {
        width: 90vw;
        padding: 1.9vw 0;
        margin: 20vw 0;
    }
}

@media (min-width:375px) {
    .shop-info-new {
        margin: 17vw 0;
    }
}

@media (min-width:768px) {
    .shop-info-new {
        width: 80vw;
        margin: 8vw 0;
        padding: 2vw 0;
    }
}

@media (min-width:1024px) {
    .shop-info-new {
        width: 75vw;
        margin: 5vw 0;
        padding: 2vw 0;
    }
}

@media (min-width:1440px) {
    .shop-info-new {
        width: 70vw;
        margin: 1.5vw 0;
        padding: 2vw 0;
    }
}

.shop-create-title {
    display: flex;
    background-color: #4169E1;
    align-self: center;
    position: relative;
}

.shop-create-title-text {
    font-weight: bold;
    color: #fff;
    background-color: #4169E1;
}

@media (min-width:320px) {
    .shop-create-title-text {
        font-size: 5vw;
    }
}

@media (min-width:375px) {
    .shop-create-title-text {
        font-size: 4.5vw;
    }
}

@media (min-width:768px) {
    .shop-create-title-text {
        font-size: 2.8vw;
    }
}

@media (min-width:1024px) {
    .shop-create-title-text {
        font-size: 2.1vw;
    }
}

@media (min-width:1440px) {
    .shop-create-title-text {
        font-size: 1.7vw;
    }
}

.shop-manager-button {
    position: absolute;
    border: none;
    border-radius: 5px;
    background-color: #E0FFFF;
}

@media (min-width:320px) {
    .shop-manager-button {
        top: 4vw;
        left: -10vw;
        height: 6.3vw;
        font-size: 4.5vw;
    }
}

@media (min-width:375px) {
    .shop-manager-button {
        top: 3.8vw;
        height: 6vw;
        font-size: 4.3vw;
    }
}

@media (min-width:425px) {
    .shop-manager-button {
        top: 3.7vw;
        left: -9vw;
        height: 5.5vw;
        font-size: 3.8vw;
    }
}

@media (min-width:768px) {
    .shop-manager-button {
        top: 2.1vw;
        left: -6vw;
        height: 3.3vw;
        font-size: 2.8vw;
    }
}

@media (min-width:1024px) {
    .shop-manager-button {
        top: 1.6vw;
        left: -5vw;
        height: 2.5vw;
        font-size: 2.1vw;
    }
}

@media (min-width:1440px) {
    .shop-manager-button {
        top: 1.3vw;
        left: -4vw;
        height: 2vw;
        font-size: 1.7vw;
    }
}

.shop-manager-home-link {
    text-decoration: none;
    color: #000000;
}

.create-form, .create-table-title, .create-table-td {
    background-color: #4169E1;
}

.create-table-td {
    position: relative;
}

@media (min-width:320px) {
    .create-table-td {
        height: 18vw;
    }
}

@media (min-width:768px) {
    .create-table-td {
        height: 10vw;
    }
}

@media (min-width:1024px) {
    .create-table-td {
        height: 8vw;
    }
}

@media (min-width:1440px) {
    .create-table-td {
        height: 6vw;
    }
}

.create-form {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: left;
}

.create-table-title {
    color: #fff;
}

@media (min-width:320px) {
    .create-table-title {
        width: 40vw;
        font-size: 4vw;
    }
}

@media (min-width:375px) {
    .create-table-title {
        width: 35vw;
        font-size: 3.7vw;
    }
}

@media (min-width:425px) {
    .create-table-title {
        width: 30vw;
        font-size: 3.2vw;
    }
}

@media (min-width:768px) {
    .create-table-title {
        width: 20vw;
        font-size: 2.1vw;
    }
}

@media (min-width:1024px) {
    .create-table-title {
        width: 17vw;
        font-size: 1.5vw;
    }
}

@media (min-width:1440px) {
    .create-table-title {
        width: 15vw;
        font-size: 1.2vw;
    }
}

.shop-name, .shop-area, .shop-genre, .shop-image-url, .shop-detail {
    border: none;
    outline: none;
    border-radius: 5px;
}

@media (min-width:320px) {
    .shop-name,
    .shop-area,
    .shop-genre,
    .shop-image-url,
    .shop-detail {
        padding: 1vw 2vw;
    }
}

@media (min-width:768px) {
    .shop-name,
    .shop-area,
    .shop-genre,
    .shop-image-url,
    .shop-detail {
        padding: 0.8vw 1vw;
    }
}

@media (min-width:1024px) {
    .shop-name,
    .shop-area,
    .shop-genre,
    .shop-image-url,
    .shop-detail {
        padding: 0.6vw 0.8vw;
    }
}

@media (min-width:1440px) {
    .shop-name,
    .shop-area,
    .shop-genre,
    .shop-image-url,
    .shop-detail {
        padding: 0.4vw 0.5vw;
    }
}

@media (min-width:320px) {
    .shop-name,
    .shop-image-url,
    .shop-detail {
        width: 40vw;
    }
}

@media (min-width:768px) {
    .shop-name,
    .shop-image-url,
    .shop-detail {
        width: 45vw;
    }
}

@media (min-width:1024px) {
    .shop-name,
    .shop-image-url,
    .shop-detail {
        width: 40vw;
    }
}

@media (min-width:1440px) {
    .shop-name,
    .shop-image-url,
    .shop-detail {
        width: 35vw;
    }
}

.shop-area,
.shop-genre {
    position: relative;
    appearance: none;
}

@media (min-width:320px) {
    .shop-area,
    .shop-genre {
        font-size: 4vw;
        width: 40vw;
    }
}

@media (min-width:375px) {
    .shop-area,
    .shop-genre {
        font-size: 3.5vw;
    }
}

@media (min-width:425px) {
    .shop-area,
    .shop-genre {
        font-size: 3.2vw;
    }
}

@media (min-width:768px) {
    .shop-area,
    .shop-genre {
        font-size: 1.8vw;
        width: 45vw;
    }
}

@media (min-width:1024px) {
    .shop-area,
    .shop-genre {
        font-size: 1.3vw;
        width: 40vw;
    }
}

@media (min-width:1440px) {
    .shop-area,
    .shop-genre {
        font-size: 1vw;
        width: 35vw;
    }
}

.shop-select-area, .shop-select-genre {
    background-color: #4169E1;
}

.shop-select-area::after,
.shop-select-genre::after {
    position: absolute;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f107';
    color: #d4d3d3;
}

@media (min-width:320px) {
    .shop-select-area::after,
    .shop-select-genre::after {
        font-size: 6vw;
        left: 34vw;
        top: 5.5vw;
    }
}

@media (min-width:375px) {
    .shop-select-area::after,
    .shop-select-genre::after {
        font-size: 5.6vw;
    }
}

@media (min-width:425px) {
    .shop-select-area::after,
    .shop-select-genre::after {
        font-size: 5.3vw;
        left: 35vw;
    }
}

@media (min-width:768px) {
    .shop-select-area::after,
    .shop-select-genre::after {
        font-size: 2.8vw;
        left: 41.5vw;
        top: 3vw;
    }
}

@media (min-width:1024px) {
    .shop-select-area::after,
    .shop-select-genre::after {
        font-size: 2.2vw;
        left: 37vw;
        top: 2.5vw;
    }
}

@media (min-width:1440px) {
    .shop-select-area::after,
    .shop-select-genre::after {
        font-size: 1.5vw;
        left: 33vw;
        top: 2vw;
    }
}

.information-create-button {
    border: none;
    border-radius: 5px;
    align-self: center;
    color: #fff;
    background-color: #0000ff;
}

@media (min-width:320px) {
    .information-create-button {
        font-size: 4vw;
        padding: 1vw 2vw;
        margin-top: 2vw;
        margin-bottom: 5vw;
    }
}

@media (min-width:375px) {
    .information-create-button {
        font-size: 3.7vw;
        margin-bottom: 4vw;
    }
}

@media (min-width:425px) {
    .information-create-button {
        font-size: 3.3vw;
    }
}

@media (min-width:768px) {
    .information-create-button {
        font-size: 1.9vw;
        margin-top: 2vw;
        margin-bottom: 0;
    }
}

@media (min-width:1024px) {
    .information-create-button {
        font-size: 1.5vw;
        padding: 0.7vw 1.4vw;
        margin-top: 1.5vw;
    }
}

@media (min-width:1440px) {
    .information-create-button {
        font-size: 1.2vw;
        padding: 0.5vw 1vw;
        margin-top: 1vw;
    }
}

.form-error-shop-name,
.form-error-prefecture,
.form-error-genre,
.form-error-shop-detail,
.form-error-image-url {
    position: absolute;
    z-index: 1;
    width: fit-content;
    color: #f00;
    background-color: #FFFACD;
    border-radius: 5px;
}

@media (min-width:320px) {
    .form-error-shop-name,
    .form-error-prefecture,
    .form-error-genre,
    .form-error-shop-detail,
    .form-error-image-url {
        font-size: 3.5vw;
        padding: 0 1vw;
    }
}

@media (min-width:375px) {
    .form-error-shop-name,
    .form-error-prefecture,
    .form-error-genre,
    .form-error-shop-detail,
    .form-error-image-url {
        font-size: 3.2vw;
    }
}

@media (min-width:425px) {
    .form-error-shop-name,
    .form-error-prefecture,
    .form-error-genre,
    .form-error-shop-detail,
    .form-error-image-url {
        font-size: 3vw;
    }
}

@media (min-width:768px) {
    .form-error-shop-name,
    .form-error-prefecture,
    .form-error-genre,
    .form-error-shop-detail,
    .form-error-image-url {
        font-size: 1.6vw;
    }
}

@media (min-width:1024px) {
    .form-error-shop-name,
    .form-error-prefecture,
    .form-error-genre,
    .form-error-shop-detail,
    .form-error-image-url {
        font-size: 1.3vw;
        padding: 0 0.7vw;
    }
}

@media (min-width:1440px) {
    .form-error-shop-name,
    .form-error-prefecture,
    .form-error-genre,
    .form-error-shop-detail,
    .form-error-image-url {
        font-size: 1vw;
        padding: 0 0.5vw;
    }
}

@media (min-width:320px) {
    .form-error-shop-name {
        top: 13vw;
        left: -40vw;
    }
}

@media (min-width:375px) {
    .form-error-shop-name {
        left: -36vw;
    }
}

@media (min-width:425px) {
    .form-error-shop-name {
        left: -31vw;
    }
}

@media (min-width:768px) {
    .form-error-shop-name {
        top: 6.5vw;
        left: -20vw;
    }
}

@media (min-width:1024px) {
    .form-error-shop-name {
        top: 5.5vw;
        left: -17vw;
    }
}

@media (min-width:1440px) {
    .form-error-shop-name {
        top: 4vw;
        left: -15vw;
    }
}

@media (min-width:320px) {
    .form-error-prefecture {
        top: 14vw;
        left: -40vw;
    }
}

@media (min-width:375px) {
    .form-error-prefecture {
        left: -36vw;
    }
}

@media (min-width:425px) {
    .form-error-prefecture {
        left: -31vw;
    }
}

@media (min-width:768px) {
    .form-error-prefecture {
        top: 7.5vw;
        left: -20vw;
    }
}

@media (min-width:1024px) {
    .form-error-prefecture {
        top: 6vw;
        left: -17vw;
    }
}

@media (min-width:1440px) {
    .form-error-prefecture {
        top: 4vw;
        left: -15vw;
    }
}

@media (min-width:320px) {
    .form-error-genre {
        top: 13vw;
        left: -40vw;
    }
}

@media (min-width:375px) {
    .form-error-genre {
        left: -36vw;
    }
}

@media (min-width:425px) {
    .form-error-genre {
        left: -31vw;
    }
}

@media (min-width:768px) {
    .form-error-genre {
        top: 7.5vw;
        left: -20vw;
    }
}

@media (min-width:1024px) {
    .form-error-genre {
        top: 6vw;
        left: -17vw;
    }
}

@media (min-width:1440px) {
    .form-error-genre {
        top: 4vw;
        left: -15vw;
    }
}

@media (min-width:320px) {
    .form-error-shop-detail {
        top: 30vw;
        left: -40vw;
    }
}

@media (min-width:375px) {
    .form-error-shop-detail {
        top: 26vw;
        left: -36vw;
    }
}

@media (min-width:425px) {
    .form-error-shop-detail {
        top: 23vw;
        left: -31vw;
    }
}

@media (min-width:768px) {
    .form-error-shop-detail {
        top: 12vw;
        left: -20vw;
    }
}

@media (min-width:1024px) {
    .form-error-shop-detail {
        top: 9vw;
        left: -17vw;
    }
}

@media (min-width:1440px) {
    .form-error-shop-detail {
        top: 7vw;
        left: -15vw;
    }
}

@media (min-width:320px) {
    .form-error-image-url {
        top: 13vw;
        left: -40vw;
    }
}

@media (min-width:375px) {
    .form-error-image-url {
        left: -36vw;
    }
}

@media (min-width:425px) {
    .form-error-image-url {
        left: -31vw;
    }
}

@media (min-width:768px) {
    .form-error-image-url {
        top: 7.5vw;
        left: -20vw;
    }
}

@media (min-width:1024px) {
    .form-error-image-url {
        top: 6vw;
        left: -17vw;
    }
}

@media (min-width:1440px) {
    .form-error-image-url {
        top: 4vw;
        left: -15vw;
    }
}