.shop-info-edit {
    display: flex;
    padding: 2vw 6vw;
    justify-content: space-between;
    text-align: left;
}

.shop-edit-contents {
    width: 45vw;
    height: 50vw;
    background-color: #4169E1;
    border-radius: 10px;
    padding: 1.5vw 3vw;
    box-shadow: 0.2vw 0.2vw 0.2vw 0.1vw #808080;
}

.shop-edit-title {
    display: flex;
    align-self: center;
    position: relative;
    background-color: #4169E1;
}

.shop-list-button {
    border: none;
    position: absolute;
    top: 1.3vw;
    left: -1vw;
    width: 2vw;
    height: 2vw;
    font-size: 1.7vw;
    border-radius: 5px;
    background-color: #E0FFFF;
}

.shop-list-link {
    text-decoration: none;
    color: #000000;
}

.shop-edit-title-text {
    font-size: 1.7vw;
    font-weight: bold;
    position: relative;
    left: 2.3vw;
    color: #fff;
    background-color: #4169E1;
}

.edit-form {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1vw 2vw;
    background-color: #4169E1;
}

.edit-table-title,
.edit-table-tr,
.edit-table-td {
    background-color: #4169E1;
}

.edit-table-td {
    position: relative;
    height: 5vw;
    border: none;
    padding: 0 1vw;
}

.edit-table-title {
    color: #fff;
    font-size: 1.1vw;
}

.shop-name,
.shop-area,
.shop-genre,
.shop-image-url,
.shop-detail {
    border: none;
    outline: none;
    padding: 0.5vw;
    border-radius: 5px;
}

.shop-name,
.shop-image-url,
.shop-detail {
    width: 20vw;
}

.shop-area,
.shop-genre {
    position: relative;
    appearance: none;
    border-radius: 5px;
    font-size: 1vw;
    width: 20vw;
}

.shop-select-area,
.shop-select-genre {
    background-color: #4169E1;
}

.shop-select-area::after,
.shop-select-genre::after {
    position: absolute;
    left: 19.5vw;
    font-family: 'Font Awesome 5 Free';
    font-size: 1.5vw;
    font-weight: 900;
    content: '\f107';
    color: #d4d3d3;
}

.information-update-button {
    position: absolute;
    color: #fff;
    background-color: #0000FF;
    border: none;
    left: -3vw;
    top: 39.8vw;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 45vw;
    padding: 1vw;
    font-size: 1.2vw;
    cursor: pointer;
}

.shop-edit-confirm {
    display: flex;
    flex-direction: column;
    width: 40vw;
}

.shop-info-change {
    align-self: center;
}

.shop-info-change::before {
    font-family: 'Font Awesome 5 Free';
    font-size: 3vw;
    font-weight: 900;
    content: '\f103';
    color: #0000CD;
}

.shop-info-before,
.shop-info-after,
.shop-before-title,
.shop-after-title {
    background-color: #5287e9;
}

.shop-info-before,
.shop-info-after {
    border-radius: 10px;
    padding: 1vw 2.5vw;
}

.shop-before-title,
.shop-after-title {
    color: #fff;
    font-weight: bold;
    font-size: 1.3vw;
}

.shop-confirm-table {
    margin: 1vw 0;
}

.shop-confirm-table,
.confirm-table-tr,
.confirm-table-td {
    border: none;
    font-size: 1.1vw;
    color: #fff;
    background-color: #5287e9;
}

.confirm-table-td {
    padding: 0.5vw 1vw;
    width: 20vw;
}

.form-error-shop-name,
.form-error-prefecture,
.form-error-genre,
.form-error-shop-detail,
.form-error-image-url {
    position: absolute;
    z-index: 1;
    width: fit-content;
    font-size: 1vw;
    color: #f00;
    background-color: #FFFACD;
    padding: 0 0.5vw;
    border-radius: 5px;
}

.form-error-shop-name {
    top: 3.7vw;
    left: 6vw;
}

.form-error-prefecture {
    top: 3.7vw;
    left: 3vw;
}

.form-error-genre {
    top: 3.7vw;
    left: 4.5vw;
}

.form-error-shop-detail {
    top: 9.9vw;
    left: 5vw;
}

.form-error-image-url {
    top: 3.7vw;
    left: 3vw;
}

