.mypage {
    display: flex;
    flex-direction: column;
}

@media (min-width:768px) {
    .mypage-contents {
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 0 10vw 1vw 10vw;
    }
}

@media (min-width:1024px) {
    .mypage-contents {
        display: flex;
        justify-content: space-between;
        position: relative;
        padding: 0 6vw 1vw 6vw;
    }
}

@media (min-width:1440px) {
    .mypage-contents {
        display: flex;
        justify-content: space-between;
        position: relative;
        padding: 0 7vw 1vw 7vw;
    }
}

.user-name {
    font-weight: bold;
}

@media (min-width:768px) {
    .user-name {
        font-size: 2.5vw;
        margin: 1.5vw 0;
    }
}

@media (min-width:1024px) {
    .user-name {
        font-size: 2.2vw;
        margin: 1.2vw 0;
    }
}

@media (min-width:1440px) {
    .user-name {
        font-size: 2vw;
        margin: 1vw 0;
    }
}

@media (min-width:768px) {
    .reserve-list {
        width: 70vw;
    }
}

@media (min-width:1024px) {
    .reserve-list {
        position: absolute;
        top: 0;
        width: 30vw;
    }
}

@media (min-width:1440px) {
    .reserve-list {
        position: absolute;
        top: 0;
        width: 32vw;
    }
}

.reserve-list-title, .like-shop-title {
    font-weight: bold;
    text-align: left;
}

@media (min-width:768px) {
    .reserve-list-title, .like-shop-title {
        font-size: 2.2vw;
        margin-bottom: 1vw;
    }
}

@media (min-width:1024px) {
    .reserve-list-title, .like-shop-title {
        font-size: 1.7vw;
        margin-bottom: 0.2vw;
    }
}

@media (min-width:1440px) {
    .reserve-list-title, .like-shop-title {
        font-size: 1.5vw;
        margin-bottom: 0;
    }
}

.reserve-detail, .reserve-null, .reserve-history-null {
    background-color: #4169E1;
    border-radius: 5px;
    box-shadow: 0.2vw 0.2vw 0.2vw 0.1vw #808080;
}

@media (min-width:768px) {
    .reserve-detail, .reserve-null,.reserve-history-null {
        padding: 1vw 3vw;
    }
}

@media (min-width:1024px) {
    .reserve-detail, .reserve-null, .reserve-history-null {
        padding: 1.5vw 2.8vw;
        margin-bottom: 2.3vw;
    }
}

@media (min-width:1440px) {
    .reserve-detail, .reserve-null, .reserve-history-null {
        padding: 1vw 2vw;
        margin-bottom: 2vw;
    }
}

.reserve-detail-title {
    display: flex;
    justify-content: space-between;
    background-color: #4169E1;
}

.reserve-number {
    color: #fff;
    background-color: #4169E1;
}

@media (min-width:768px) {
    .reserve-number {
        font-size: 2vw;
    }
}

@media (min-width:1024px) {
    .reserve-number {
        font-size: 1.5vw;
    }
}

@media (min-width:1440px) {
    .reserve-number {
        font-size: 1.2vw;
    }
}

.reserve-delete-button::before,
.reserve-number::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #fff;
}

@media (min-width:768px) {
    .reserve-delete-button::before, .reserve-number::before {
        font-size: 2.5vw;
    }
}

@media (min-width:1024px) {
    .reserve-delete-button::before, .reserve-number::before {
        font-size: 1.7vw;
    }
}

@media (min-width:1440px) {
    .reserve-delete-button::before, .reserve-number::before {
        font-size: 1.5vw;
    }
}

.reserve-number::before {
    content: '\f017';
}

@media (min-width:768px) {
    .reserve-number::before {
        margin-right: 2.5vw;
    }
}

@media (min-width:1024px) {
    .reserve-number::before {
        margin-right: 2vw;
    }
}

@media (min-width:1440px) {
    .reserve-number::before {
        margin-right: 1.5vw;
    }
}

.reserve-delete-button::before {
    content: '\f057';
}

.reserve-delete-button {
    background-color: #4169E1;
    border: none;
}

.reserve-table {
    margin-left: 2vw;
}

@media (min-width:768px) {
    .reserve-table {
        margin-left: 2.5vw;
    }
}

@media (min-width:1024px) {
    .reserve-table {
        margin-left: 1vw;
    }
}

@media (min-width:1440px) {
    .reserve-table {
        margin-left: 2vw;
    }
}

.reserve-table, .reserve-table-tr, .reserve-table-td {
    background-color: #4169E1;
    color: #fff;
    text-align: left;
}

@media (min-width:768px) {
    .reserve-table, .reserve-table-tr, .reserve-table-td {
        padding: 0.5vw 0;
        font-size: 2.2vw;
    }
}

@media (min-width:1024px) {
    .reserve-table, .reserve-table-tr, .reserve-table-td {
        padding: 0.5vw 0;
        font-size: 1.5vw;
    }
}

@media (min-width:1440px) {
    .reserve-table, .reserve-table-tr, .reserve-table-td {
        padding: 0.5vw 0;
        font-size: 1.2vw;
    }
}

@media (min-width:768px) {
    .reserve-table-td {
        width: 25vw;
    }
}

@media (min-width:1024px) {
    .reserve-table-td {
        width: 15vw;
    }
}

@media (min-width:1440px) {
    .reserve-table-td {
        width: 11vw;
    }
}

.reserve-edit {
    background-color: #4169E1;
}

.reserve-edit-button {
    align-self: center;
    border: none;
    border-radius: 5px;
    padding: 0.5vw 0;
    font-weight: bold;
    background-color: #fff;
}

@media (min-width:768px) {
    .reserve-edit-button {
        margin: 2vw 0;
        width: 16vw;
        font-size: 1.7vw;
    }
}

@media (min-width:1024px) {
    .reserve-edit-button {
        margin: 1.5vw 0;
        width: 13vw;
        font-size: 1.3vw;
    }
}

@media (min-width:1440px) {
    .reserve-edit-button {
        margin: 1vw 0;
        width: 10vw;
        font-size: 1vw;
    }
}

.reserve-edit-link {
    text-decoration: none;
}

@media (min-width:768px) {
    .reserve-null, .reserve-history-null {
        margin: 3vw 6vw;
    }
}

@media (min-width:1024px) {
    .reserve-null, .reserve-history-null {
        margin: 2vw 4vw;
    }
}

@media (min-width:1440px) {
    .reserve-null, .reserve-history-null {
        margin: 1.5vw 3vw;
    }
}

@media (min-width:768px) {
    .reserve-null-text, .reserve-history-null-text {
        font-size: 2.5vw;
    }
}

@media (min-width:1024px) {
    .reserve-null-text, .reserve-history-null-text {
        font-size: 1.7vw;
    }
}

@media (min-width:1440px) {
    .reserve-null-text, .reserve-history-null-text {
        font-size: 1.5vw;
    }
}

@media (min-width:768px) {
    .like-shop{
        width: 80vw;
        position: absolute;
        top: 80vw;
        left: 10vw;
    }
}

@media (min-width:1024px) {
    .like-shop {
        width: 56vw;
        position: absolute;
        top: 0;
        left: 47vw;
    }
}

@media (min-width:1440px) {
    .like-shop {
        width: 49vw;
        position: absolute;
        top: 0;
        left: 43vw;
    }
}

.like-shop-title, .like-shop-list {
    text-align: left;
}

@media (min-width:768px) {
    .like-shop-list {
        display: flex;
        flex-flow: row wrap;
    }
}

@media (min-width:1024px) {
    .like-shop-list {
        display: flex;
        flex-flow: row wrap;
    }
}

@media (min-width:1440px) {
    .like-shop-list {
        display: flex;
        flex-flow: row wrap;
    }
}

.shop {
    display: inline-flex;
    flex-direction: column;
    text-align: left;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0.2vw 0.2vw 1vw 0 #808080;
}

@media (min-width:768px) {
    .shop {
        width: 45%;
        margin: 0 2vw 2vw 2vw;
    }
}

@media (min-width:1024px) {
    .shop {
        width: 42%;
        margin: 1.5vw 1vw 0 0.5vw;
    }
}

@media (min-width:1440px) {
    .shop {
        width: 40%;
        margin: 1.5vw 2vw;
    }
}

.shop-img {
    height: 60%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.shop-name,
.shop-info,
.shop-pref,
.shop-genre {
    background-color: #fff;
}

.shop-name {
    font-weight: bold;
}

@media (min-width:768px) {
    .shop-name {
        font-size: 2.5vw;
        margin: 1.7vw 2vw 0 2vw;
    }
}

@media (min-width:1024px) {
    .shop-name {
        font-size: 1.7vw;
        margin: 1.5vw 2vw 0 2vw;
    }
}

@media (min-width:1440px) {
    .shop-name {
        font-size: 1.5vw;
        margin: 1vw 1.5vw 0 1.5vw;
    }
}

@media (min-width:768px) {
    .shop-info {
        font-size: 1.6vw;
        margin: 0.5vw 2vw;
    }
}

@media (min-width:1024px) {
    .shop-info {
        font-size: 1.2vw;
        margin: 0.2vw 1.7vw;
    }
}

@media (min-width:1440px) {
    .shop-info {
        font-size: 0.9vw;
        margin: 0 1.5vw;
    }
}

.shop-button {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.shop-detail-button, .evaluate-button {
    background-color: #4169E1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (min-width:768px) {
    .shop-detail-button, .evaluate-button {
        font-size: 1.7vw;
        padding: 0.8vw 1.6vw;
        margin: 2vw 0 2vw 2vw;
    }
}

@media (min-width:1024px) {
    .shop-detail-button, .evaluate-button {
        font-size: 1.3vw;
        padding: 0.7vw 1.3vw;
        margin: 1.2vw 0 1.2vw 1.5vw;
    }
}

@media (min-width:1440px) {
    .shop-detail-button, .evaluate-button {
        font-size: 1vw;
        padding: 0.5vw 1vw;
        margin: 1vw 0 1vw 1.5vw;
    }
}

.evaluate-button {
    margin-left: 0;
}

.shop-detail-link, .shop-evaluate-link {
    text-decoration: none;
    color: #fff;
}

.like {
    background-color: #fff;
}

@media (min-width:768px) {
    .like {
        margin-right: 2vw;
    }
}

@media (min-width:1024px) {
    .like {
        margin-right: 1.7vw;
    }
}

@media (min-width:1440px) {
    .like {
        margin-right: 1.5vw;
    }
}

.like-link::before,
.unlike-link::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f004';
}

@media (min-width:768px) {
    .like-link::before, .unlike-link::before {
        font-size: 3.5vw;
    }
}

@media (min-width:1024px) {
    .like-link::before, .unlike-link::before {
        font-size: 2.5vw;
    }
}

@media (min-width:1440px) {
    .like-link::before, .unlike-link::before {
        font-size: 2vw;
    }
}

.unlike-link,
.like-link {
    text-decoration: none;
    position: relative;
}

@media (min-width:768px) {
    .like-link, .unlike-link {
        top: 1.4vw;
    }
}

@media (min-width:1024px) {
    .like-link, .unlike-link {
        top: 1.1vw;
    }
}

@media (min-width:1440px) {
    .like-link, .unlike-link {
        top: 0.8vw;
    }
}

.unlike-link::before {
    color: #FF0000;
}

.like-link::before {
    color: #808080;
}

@media (min-width:768px) {
    .js-tab-panel {
        width: 60vw;
    }
}

@media (min-width:1024px) {
    .js-tab-panel {
        width: 40vw;
    }
}

@media (min-width:1440px) {
    .js-tab-panel {
        width: 35vw;
    }
}

.js-tab-panel-group {
    display: flex;
}

.active_tab {
    background: #00BFFF;
    text-align: center;
    padding: 5px 10px;
}

@media (min-width:768px) {
    .active_tab {
        font-size: 1.8vw;
    }
}

@media (min-width:1024px) {
    .active_tab {
        font-size: 1.5vw;
    }
}

@media (min-width:1440px) {
    .active_tab {
        font-size: 1.1vw;
    }
}

.inactive_tab {
    padding: 5px 10px;
    font-size: 1.1vw;
}

@media (min-width:768px) {
    .inactive_tab {
        font-size: 1.8vw;
    }
}

@media (min-width:1024px) {
    .inactive_tab {
        font-size: 1.5vw;
    }
}

@media (min-width:1440px) {
    .inactive_tab {
        font-size: 1.1vw;
    }
}

.active_content {
    display: inline;
    font-size: 1.5vw;
}

.inactive_content {
    display: none;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 0;
}

@media (min-width:768px) {
    .reserve-paginate,
    .reserve-history-paginate {
        font-size: 2.2vw;
        margin: 1.5vw 0 3vw 0;
    }
}

@media (min-width:1024px) {
    .reserve-paginate,
    .reserve-history-paginate {
        font-size: 1.8vw;
        margin: 0.5vw 0 3vw 0;
    }
}

@media (min-width:1440px) {
    .reserve-paginate,
    .reserve-history-paginate {
        font-size: 1.3vw;
        margin-bottom: 3vw;
    }
}

.page-link {
    text-decoration: none;
    padding: 0.5vw;
}