.shop-detail {
    display: flex;
    justify-content: space-between;
    padding: 4vw 7vw 0 7vw;
}

.shop-detail-contents {
    display: flex;
    flex-direction: column;
    width: 40vw;
    text-align: left;
}

.shop-list-button {
    font-size: 1.5vw;
    border-radius: 5px;
    border: none;
    padding: 0.2vw 0.5vw;
    background-color: #fff;
    box-shadow: 0.2vw 0.2vw 0.2vw 0.1vw #808080;
}

.shop-list-link {
    text-decoration: none;
}

.shop-detail-title {
    margin: 0 1vw 1.5vw 0;
}

.shop-detail-info {
    display: flex;
    flex-direction: column;
}

.shop-name {
    position: relative;
    top: 0.3vw;
    font-size: 2vw;
    font-weight: bold;
    margin: 1vw;
}

.shop-img {
    margin-bottom: 2vw;
}

.shop-area-genre {
    font-size: 1vw;
    margin-bottom: 1vw;
}

.shop-text {
    font-size: 1vw;
    line-height: 1.8vw;
}

.shop-reserve {
    position: absolute;
    top: -5vw;
    left: 53vw;
    text-align: left;
    width: 40vw;
    height: 52vw;
    border-radius: 5px;
    padding: 0.3vw 2.5vw;
    box-shadow: 0.2vw 0.2vw 0.2vw 0.1vw #808080;
    background-color: #4169E1;
}

.reserve-form {
    position: relative;
    background-color: #4169E1;
}

.reserve-title {
    font-size: 2vw;
    font-weight: bold;
    color: #fff;
    background-color: #4169E1;
}

.reserve-date, .reserve-time, .reserve-number {
    height: 2vw;
    border: none;
    margin-bottom: 1vw;
    padding: 0 1vw;
}

.reserve-date {
    border-radius: 5px;
    font-size: 1vw;
    width: 12vw;
}

.reserve-time, .reserve-number {
    position: relative;
    appearance: none;
    border-radius: 5px;
    font-size: 1vw;
    width: 33vw;
}

.reserve-select-time::after, .reserve-select-number::after {
    position: absolute;
    left: 31.5vw;
    font-family: 'Font Awesome 5 Free';
    font-size: 1.5vw;
    font-weight: 900;
    content: '\f107';
    color: #d4d3d3;
}

.reserve-confirm, .reserve-confirm-table, .confirm-table-tr, .confirm-table-td {
    border: none;
    font-size: 1.1vw;
    color: #fff;
    background-color: #5287e9;
}

.reserve-confirm {
    border-radius: 5px;
    padding: 1.5vw 1vw;
    width: 32vw;
}

.confirm-table-td {
    padding: 0.5vw 1vw;
    width: 9vw;
}

.shop-reserve-alarm {
    position: absolute;
    color: #FFFF00;
    background-color: #4169E1;
    top: 25vw;
    word-break: keep-all;
}

.reserve-button {
    position: absolute;
    top: 40.6vw;
    left: -2.5vw;
    width: 40vw;
    height: 4vw;
    border: none;
    font-size: 1vw;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff;
    background-color: #0000ff;
}

.reserve-button-submit {
    text-decoration: none;
    color: #fff;
}