@media (min-width:768px) {
    .shop-detail {
        padding: 4vw 10vw 0 10vw;
    }
}

@media (min-width:1024px) {
    .shop-detail {
        display: flex;
        justify-content: space-between;
        padding: 4vw 5vw 0 5vw;
    }
}

@media (min-width:1440px) {
    .shop-detail {
        display: flex;
        justify-content: space-between;
        padding: 4vw 7vw 0 7vw;
    }
}

.shop-detail-contents {
    display: flex;
    flex-direction: column;
    text-align: left;
}

@media (min-width:768px) {
    .shop-detail-contents {
        width: 78vw;
    }
}

@media (min-width:1024px) {
    .shop-detail-contents {
        width: 44vw;
    }
}

@media (min-width:1440px) {
    .shop-detail-contents {
        width: 40vw;
    }
}

.shop-list-button {
    border-radius: 5px;
    border: none;
    padding: 0.2vw 0.5vw;
    background-color: #fff;
    box-shadow: 0.2vw 0.2vw 0.2vw 0.1vw #808080;
}

@media (min-width:768px) {
    .shop-list-button {
        font-size: 2.5vw;
    }
}

@media (min-width:1024px) {
    .shop-list-button {
        font-size: 2vw;
    }
}

@media (min-width:1440px) {
    .shop-list-button {
        font-size: 1.5vw;
    }
}

.shop-list-link {
    text-decoration: none;
}

@media (min-width:768px) {
    .shop-detail-title {
        margin: 0 2vw 2.5vw 0;
    }
}

@media (min-width:1024px) {
    .shop-detail-title {
        margin: 0 1.5vw 2vw 0;
    }
}

@media (min-width:1440px) {
    .shop-detail-title {
        margin: 0 1vw 1.5vw 0;
    }
}

.shop-detail-info {
    display: flex;
    flex-direction: column;
}

.shop-name, .shop-avg {
    top: 0.3vw;
    margin: 1vw;
    position: relative;
    font-weight: bold;
}

@media (min-width:768px) {
    .shop-name, .shop-avg {
        font-size: 2.9vw;
    }
}

@media (min-width:1024px) {
    .shop-name, .shop-avg {
        font-size: 2.3vw;
    }
}

@media (min-width:1440px) {
    .shop-name, .shop-avg {
        font-size: 2vw;
    }
}

.shop-avg::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f005';
    color: #FFD700;
    margin: 1vw 1vw 1vw 0;
}

@media (min-width:768px) {
    .shop-avg::before {
        font-size: 2.9vw;
    }
}

@media (min-width:1024px) {
    .shop-avg::before {
        font-size: 2.3vw;
    }
}

@media (min-width:1440px) {
    .shop-avg::before {
        font-size: 2vw;
    }
}

.shop-img {
    margin-bottom: 2vw;
}

@media (min-width:768px) {
    .shop-area-genre {
        font-size: 1.8vw;
        margin-bottom: 0.2vw;
    }
}

@media (min-width:1024px) {
    .shop-area-genre {
        font-size: 1.3vw;
        margin-bottom: 0.5vw;
    }
}

@media (min-width:1440px) {
    .shop-area-genre {
        font-size: 1vw;
        margin-bottom: 1vw;
    }
}

@media (min-width:768px) {
    .shop-text {
        font-size: 1.8vw;
        line-height: 2.7vw;
    }
}

@media (min-width:1024px) {
    .shop-text {
        font-size: 1.3vw;
        line-height: 2.3vw;
    }
}

@media (min-width:1440px) {
    .shop-text {
        font-size: 1vw;
        line-height: 1.8vw;
    }
}

.shop-evaluate {
    text-align: left;
    height: fit-content;
    border-radius: 5px;
    margin-bottom: 5vw;
    box-shadow: 0.2vw 0.2vw 0.2vw 0.1vw #808080;
    background-color: #4169E1;
}

@media (min-width:768px) {
    .shop-evaluate {
        width: 78vw;
        padding: 0.3vw 4vw;
    }
}

@media (min-width:1024px) {
    .shop-evaluate {
        width: 42.5vw;
        padding: 0 2.5vw;
    }
}

@media (min-width:1440px) {
    .shop-evaluate {
        width: 40vw;
        padding: 0 2vw;
    }
}

.evaluate-title {
    font-weight: bold;
    color: #fff;
    background-color: #4169E1;
}

@media (min-width:768px) {
    .evaluate-title {
        font-size: 3vw;
    }
}

@media (min-width:1024px) {
    .evaluate-title {
        font-size: 2.2vw;
    }
}

@media (min-width:1440px) {
    .evaluate-title {
        font-size: 1.9vw;
    }
}

.evaluate-list {
    background-color: #1E90FF;
    border: 1px solid #808080;
    border-radius: 5px;
}

@media (min-width:768px) {
    .evaluate-list {
        margin: 1vw 0 2vw 0;
        padding: 1vw 3vw;
    }
}

@media (min-width:1024px) {
    .evaluate-list {
        margin: 1vw 0 2vw 0;
        padding: 0.7vw 2.5vw;
    }
}

@media (min-width:1440px) {
    .evaluate-list {
        margin: 1.5vw 0 2.5vw 0;
        padding: 0.5vw 2vw;
    }
}

.evaluate-user, .evaluate-star, .evaluate-comment {
    background-color: #1E90FF;
    color: #fff;
}

.evaluate-comment {
    width: 90%;
}

@media (min-width:768px) {
    .evaluate-user,
    .evaluate-star,
    .evaluate-comment {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 1.8vw;
    }
}

@media (min-width:1024px) {
    .evaluate-user,
    .evaluate-star,
    .evaluate-comment {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 1.4vw;
    }
}

@media (min-width:1440px) {
    .evaluate-user,
    .evaluate-star,
    .evaluate-comment {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 1.1vw;
    }
}

.evaluate-paginate {
    color: #fff;
}

.evaluate-paginate, .pagination {
    text-align: center;
    background-color: #4169E1;
}

@media (min-width:768px) {
    .evaluate-paginate {
        font-size: 2vw;
        margin-bottom: 2.7vw;
    }
}

@media (min-width:1024px) {
    .evaluate-paginate {
        font-size: 1.5vw;
        margin-bottom: 2.4vw;
    }
}

@media (min-width:1440px) {
    .evaluate-paginate {
        font-size: 1.2vw;
        margin-bottom: 2vw;
    }
}

@media (min-width:768px) {
    .pagination {
        padding: 2.5vw;
    }
}

@media (min-width:1024px) {
    .pagination {
        padding: 2vw;
    }
}

@media (min-width:1440px) {
    .pagination {
        padding: 1.8vw;
    }
}

.current-paginate-page,
.another-paginate-page,
.another-paginate,
.page-link-prev,
.page-link-next {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    border: 0.5px solid #00BFFF;
    background-color: #00BFFF;
}

@media (min-width:768px) {
    .current-paginate-page,
    .another-paginate-page,
    .another-paginate,
    .page-link-prev,
    .page-link-next {
        font-size: 1.8vw;
        padding: 0.6vw 1.2vw;
    }
}

@media (min-width:1024px) {
    .current-paginate-page,
    .another-paginate-page,
    .another-paginate,
    .page-link-prev,
    .page-link-next {
        font-size: 1.3vw;
        padding: 0.4vw 1vw;
    }
}

@media (min-width:1440px) {
    .current-paginate-page,
    .another-paginate-page,
    .another-paginate,
    .page-link-prev,
    .page-link-next {
        font-size: 1vw;
        padding: 0.4vw 0.8vw;
    }
}

.another-paginate-page {
    color: #fff;
}

.current-paginate-page {
    color: #fff;
    background-color: #00008B;
    border: 0.5px solid #00008B;
}