
.shop-list {
    display: flex;
    flex-direction: column;
}

@media (min-width:320px) {
    .shop-list {
        padding: 5vw 0;
    }
}

@media (min-width:425px) {
    .shop-list {
        padding: 4vw 0;
    }
}

@media (min-width:320px) {
    .shop-list-search {
        padding: 0 4vw 3.5vw 4vw;
    }
}

@media (min-width:768px) {
    .shop-list-search {
        position: absolute;
        z-index: 1;
        top: -6vw;
        left: 31vw;
    }
}

@media (min-width:1024px) {
    .shop-list-search {
        top: -5vw;
        left: 40vw;
    }
}

@media (min-width:1440px) {
    .shop-list-search {
        top: -3.8vw;
        left: 45vw;
    }
}

.search-form {
    display: flex;
    position: relative;
    border-radius: 5px;
    box-shadow: 0.2vw 0.2vw 1vw 0 #808080;
}

.search-area, .search-genre {
    appearance: none;
    border: none;
    background-color: #fff;
    cursor: pointer;
    background-image: linear-gradient(#d4d3d3, #d4d3d3);
    background-repeat: no-repeat;
    background-position: right center;
}

@media (min-width:320px) {
    .search-area, .search-genre {
        height: 10vw;
        font-size: 4vw;
        background-size: 1px 70%;
    }
}

@media (min-width:425px) {
    .search-area, .search-genre {
        height: 9vw;
        font-size: 3.5vw;
        background-size: 1px 70%;
    }
}

@media (min-width:768px) {
    .search-area, .search-genre {
        height: 5.5vw;
        font-size: 1.7vw;
        background-size: 1px 70%;
    }
}

@media (min-width:1024px) {
    .search-area,
    .search-genre {
        height: 4.8vw;
        font-size: 1.3vw;
        background-size: 1px 65%;
    }
}

@media (min-width:1440px) {
    .search-area,
    .search-genre {
        height: 4.5vw;
        font-size: 1vw;
        background-size: 1px 60%;
    }
}

.search-area {
    padding: 0 3.5vw 0 1.5vw;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search-genre {
    padding: 0 2vw 0 1vw;
}

.select-area::after,
.select-genre::after {
    position: absolute;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f107';
    color: #d4d3d3;
}

@media (min-width:320px) {
    .select-area::after,
    .select-genre::after {
        font-size: 5vw;
        top: 1.5vw;
    }
}

@media (min-width:425px) {
    .select-area::after,
    .select-genre::after {
        font-size: 4vw;
        top: 1.5vw;
    }
}

@media (min-width:768px) {
    .select-area::after,
    .select-genre::after {
        font-size: 2.5vw;
        top: 1vw;
    }
}

@media (min-width:1024px) {
    .select-area::after,
    .select-genre::after {
        font-size: 2vw;
    }
}

@media (min-width:1440px) {
    .select-area::after,
    .select-genre::after {
        font-size: 1.5vw;
        top: 1.3vw;
    }
}

@media (min-width:320px) {
    .select-area::after {
        left: 16.5vw;
    }
}

@media (min-width:425px) {
    .select-area::after {
        left: 15vw;
    }
}

@media (min-width:768px) {
    .select-area::after {
        left: 9vw;
    }
}

@media (min-width:1024px) {
    .select-area::after {
        left: 7.5vw;
    }
}

@media (min-width:1440px) {
    .select-area::after {
        left: 7vw;
    }
}

@media (min-width:320px) {
    .select-genre::after {
        left: 39.5vw;
    }
}

@media (min-width:425px) {
    .select-genre::after {
        left: 36vw;
    }
}

@media (min-width:768px) {
    .select-genre::after {
        left: 20.5vw;
    }
}

@media (min-width:1024px) {
    .select-genre::after {
        left: 17.5vw;
    }
}

@media (min-width:1440px) {
    .select-genre::after {
        left: 15vw;
    }
}

.search-keyword {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

@media (min-width:320px) {
    .search-keyword {
        font-size: 4vw;
        width: 41vw;
    }
}

@media (min-width:425px) {
    .search-keyword {
        font-size: 3.5vw;
        width: 46vw;
    }
}

@media (min-width:768px) {
    .search-keyword {
        font-size: 1.7vw;
        width: 30vw;
    }
}

@media (min-width:1024px) {
    .search-keyword {
        font-size: 1.3vw;
        width: 27vw;
    }
}

@media (min-width:1440px) {
    .search-keyword {
        font-size: 1vw;
        width: 25vw;
    }
}

.search-button,
.search-keyword {
    background-color: #fff;
    border: none;
}

@media (min-width:320px) {
    .search-button, .search-keyword {
        padding: 0 1.5vw;
        height: 10vw;
    }
}

@media (min-width:425px) {
    .search-button, .search-keyword {
        padding: 0 1.5vw;
        height: 9vw;
    }
}

@media (min-width:768px) {
    .search-button, .search-keyword {
        padding: 0 1vw;
        height: 5.5vw;
    }
}

@media (min-width:1024px) {
    .search-button, .search-keyword {
        padding: 0 1vw;
        height: 4.8vw;
    }
}

@media (min-width:1440px) {
    .search-button, .search-keyword {
        padding: 0 1vw;
        height: 4.5vw;
    }
}

.search-button::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f002';
    background-color: #fff;
    color: #d4d3d3;
}

@media (min-width:320px) {
    .search-button::before {
        font-size: 4vw;
    }
}

@media (min-width:425px) {
    .search-button::before {
        font-size: 3vw;
    }
}

@media (min-width:768px) {
    .search-button::before {
        font-size: 2.3vw;
    }
}

@media (min-width:1024px) {
    .search-button::before {
        font-size: 1.8vw;
    }
}

@media (min-width:1440px) {
    .search-button::before {
        font-size: 1.5vw;
    }
}

.shop {
    display: inline-flex;
    flex-direction: column;
    text-align: left;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0.2vw 0.2vw 1vw 0 #808080;
}

@media (min-width:320px) {
    .shop {
        width: 45vw;
        margin: 2vw 1vw;
    }
}

@media (min-width:768px) {
    .shop {
        width: 27vw;
        margin: 1vw;
    }
}

@media (min-width:1024px) {
    .shop {
        width: 22vw;
        margin: 0.7vw;
    }
}

@media (min-width:1440px) {
    .shop {
        width: 20vw;
        margin: 1vw;
    }
}

.shop-img {
    height: 50%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.shop-name, .shop-info, .shop-pref, .shop-genre {
    background-color: #fff;
}

.shop-name {
    font-weight: bold;
}

@media (min-width:320px) {
    .shop-name {
        font-size: 4.5vw;
        margin: 3vw 2vw 0 3vw;
    }
}

@media (min-width:375px) {
    .shop-name {
        font-size: 4vw;
    }
}

@media (min-width:425px) {
    .shop-name {
        font-size: 3.5vw;
    }
}

@media (min-width:768px) {
    .shop-name {
        font-size: 2.2vw;
        margin: 2vw 2vw 0 2vw;
    }
}

@media (min-width:1024px) {
    .shop-name {
        font-size: 1.8vw;
        margin: 1.7vw 1.7vw 0 1.7vw;
    }
}

@media (min-width:1440px) {
    .shop-name {
        font-size: 1.5vw;
        margin: 1.5vw 1.5vw 0 1.5vw;
    }
}

@media (min-width:320px) {
    .shop-info {
        font-size: 3.5vw;
        margin: 0.5vw 2vw;
    }
}

@media (min-width:375px) {
    .shop-info {
        font-size: 3vw;
    }
}

@media (min-width:425px) {
    .shop-info {
        font-size: 2.6vw;
    }
}

@media (min-width:768px) {
    .shop-info {
        font-size: 1.5vw;
    }
}

@media (min-width:1024px) {
    .shop-info {
        font-size: 1.2vw;
        margin: 0.2vw 1.5vw;
    }
}

@media (min-width:1440px) {
    .shop-info {
        font-size: 0.9vw;
        margin: 0 1.5vw;
    }
}

.shop-button {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}

@media (min-width:320px) {
    .shop-button {
        margin: 0.5vw 3vw;
    }
}

@media (min-width:768px) {
    .shop-button {
        margin: 0.5vw 2vw;
    }
}

@media (min-width:1440px) {
    .shop-button {
        margin: 0.5vw 1.5vw;
    }
}

.shop-detail-button {
    background-color: #4169E1;
    border :none;
    border-radius: 5px;
    cursor: pointer;
}

@media (min-width:320px) {
    .shop-detail-button {
        font-size: 3.5vw;
        padding: 2vw 3vw;
        margin: 1vw 0;
    }
}

@media (min-width:375px) {
    .shop-detail-button {
        font-size: 3vw;
    }
}

@media (min-width:425px) {
    .shop-detail-button {
        font-size: 2.7vw;
    }
}

@media (min-width:768px) {
    .shop-detail-button {
        font-size: 1.5vw;
        padding: 1vw 1.3vw;
        margin-right: 1vw;
    }
}

@media (min-width:1024px) {
    .shop-detail-button {
        font-size: 1.2vw;
        padding: 1vw;
    }
}

@media (min-width:1440px) {
    .shop-detail-button {
        font-size: 1vw;
        padding: 0.5vw 1vw;
        margin-right: 1vw;
    }
}

.shop-detail-link {
    text-decoration: none;
    color: #fff;
}

.like {
    background-color: #fff;
}

@media (min-width:320px) {
    .like-link, .unlike-link {
        position: relative;
        top: 1vw;
        left: -2vw;
    }
}

@media (min-width:768px) {
    .like-link, .unlike-link {
        left: 0;
    }
}

@media (min-width:1440px) {
    .like-link, .unlike-link {
        top: 0.7vw;
    }
}

.like-link::before, .unlike-link::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f004';
}

@media (min-width:320px) {
    .like-link::before, .unlike-link::before {
        font-size: 6vw;
    }
}

@media (min-width:375px) {
    .like-link::before, .unlike-link::before {
        font-size: 5.7vw;
    }
}

@media (min-width:425px) {
    .like-link::before, .unlike-link::before {
        font-size: 5.5vw;
    }
}

@media (min-width:768px) {
    .like-link::before, .unlike-link::before {
        font-size: 3vw;
    }
}

@media (min-width:1024px) {
    .like-link::before, .unlike-link::before {
        font-size: 2.5vw;
    }
}

@media (min-width:1440px) {
    .like-link::before, .unlike-link::before {
        font-size: 2vw;
    }
}

.unlike-link, .like-link {
    text-decoration: none;
}

.unlike-link::before {
    color: #FF0000;
}

.like-link::before {
    color: #808080;
}

