@media screen and (min-width:768px) {
    .shop-detail {
        padding: 5vw 10vw;
    }
}

@media screen and (min-width:1024px) {
    .shop-detail {
        display: flex;
        justify-content: space-between;
        padding: 2vw 5vw 0 5vw;
    }
}

@media screen and (min-width:1440px) {
    .shop-detail {
        display: flex;
        justify-content: space-between;
        padding: 2vw 7vw 0 7vw;
    }
}

.shop-list-button {
    border-radius: 5px;
    border: none;
    background-color: #fff;
    box-shadow: 0.2vw 0.2vw 0.2vw 0.1vw #808080;
}

@media screen and (min-width:768px) {
    .shop-list-button {
        font-size: 2.7vw;
        padding: 0.2vw 0.7vw;
    }
}

@media screen and (min-width:1024px) {
    .shop-list-button {
        font-size: 1.8vw;
        padding: 0.2vw 0.6vw;
    }
}

@media screen and (min-width:1440px) {
    .shop-list-button {
        font-size: 1.5vw;
        padding: 0.2vw 0.5vw;
    }
}

.shop-list-link {
    text-decoration: none;
}

.shop-detail-title {
    text-align: left;
    margin: 0 1vw 0.3vw 0;
}

@media screen and (min-width:768px) {
    .js-tab-panel {
        width: 80vw;
    }
}

@media screen and (min-width:1024px) {
    .js-tab-panel {
        width: 42vw;
    }
}

@media screen and (min-width:1440px) {
    .js-tab-panel {
        width: 40vw;
    }
}

.js-tab-panel-group {
    display: flex;
}

.active_tab {
    background: #00BFFF;
    text-align: center;
    padding: 5px;
}

@media screen and (min-width:768px) {
    .active_tab {
        font-size: 2vw;
    }
}

@media screen and (min-width:1024px) {
    .active_tab {
        font-size: 1.5vw;
    }
}

@media screen and (min-width:1440px) {
    .active_tab {
        font-size: 1.1vw;
    }
}

.inactive_tab {
    padding: 5px;
}

@media screen and (min-width:768px) {
    .inactive_tab {
        font-size: 2vw;
    }
}

@media screen and (min-width:1024px) {
    .inactive_tab {
        font-size: 1.5vw;
    }
}

@media screen and (min-width:1440px) {
    .inactive_tab {
        font-size: 1.1vw;
    }
}

.active_content {
    display: inline;
    text-align: left;
}

.inactive_content {
    display: none;
}

.shop-name {
    position: relative;
    top: 0.3vw;
    font-weight: bold;
    margin: 1vw;
}

@media screen and (min-width:768px) {
    .shop-name {
        font-size: 3.1vw;
    }
}

@media screen and (min-width:1024px) {
    .shop-name {
        font-size: 2.3vw;
    }
}

@media screen and (min-width:1440px) {
    .shop-name {
        font-size: 2vw;
    }
}

@media screen and (min-width:768px) {
    .shop-img {
        width: 80vw;
        margin-bottom: 2.5vw;
    }
}

@media screen and (min-width:1024px) {
    .shop-img {
        width: 42vw;
        margin-bottom: 2.3vw;
    }
}

@media screen and (min-width:1440px) {
    .shop-img {
        width: 40vw;
        margin-bottom: 2vw;
    }
}

@media screen and (min-width:768px) {
    .shop-area-genre {
        font-size: 1.8vw;
        margin-bottom: 1.5vw;
    }
}

@media screen and (min-width:1024px) {
    .shop-area-genre {
        font-size: 1.35vw;
        margin-bottom: 1.5vw;
    }
}

@media screen and (min-width:1440px) {
    .shop-area-genre {
        font-size: 1vw;
        margin-bottom: 1vw;
    }
}

@media screen and (min-width:768px) {
    .shop-text {
        font-size: 1.8vw;
        line-height: 3vw;
    }
}

@media screen and (min-width:1024px) {
    .shop-text {
        font-size: 1.35vw;
        line-height: 2.5vw;
    }
}

@media screen and (min-width:1440px) {
    .shop-text {
        font-size: 1vw;
        line-height: 1.8vw;
    }
}

.menu-group {
    display: flex;
    flex-direction: column;
    background-color: #7B68EE;
    color: #fff;
    border-radius: 5px;
}

@media screen and (min-width:768px) {
    .menu-group {
        margin: 1.8vw;
        padding: 2vw 3vw;
    }
}

@media screen and (min-width:1024px) {
    .menu-group {
        margin: 1.5vw;
        padding: 1.3vw 1.7vw;
    }
}

@media screen and (min-width:1440px) {
    .menu-group {
        margin: 1vw;
        padding: 1vw 1.5vw;
    }
}

.menu-info {
    background-color: #7B68EE;
}

@media screen and (min-width:768px) {
    .menu-info {
        font-size: 2.3vw;
    }
}

@media screen and (min-width:1024px) {
    .menu-info {
        font-size: 1.8vw;
    }
}

@media screen and (min-width:1440px) {
    .menu-info {
        font-size: 1.3vw;
    }
}

.menu-detail {
    background-color: #7B68EE;
    word-break: keep-all;
}

@media screen and (min-width:768px) {
    .menu-detail {
        font-size: 1.8vw;
    }
}

@media screen and (min-width:1024px) {
    .menu-detail {
        font-size: 1.3vw;
    }
}

@media screen and (min-width:1440px) {
    .menu-detail {
        font-size: 1vw;
    }
}

.shop-reserve {
    text-align: left;
    border-radius: 5px;
    box-shadow: 0.2vw 0.2vw 0.2vw 0.1vw #808080;
    background-color: #4169E1;
}

@media screen and (min-width:768px) {
    .shop-reserve {
        position: relative;
        top: 1vw;
        left: 0;
        width: 80vw;
        height: 90vw;
        padding: 0.5vw 3vw;
    }
}

@media screen and (min-width:1024px) {
    .shop-reserve {
        position: absolute;
        top: -2vw;
        left: 51vw;
        width: 45vw;
        height: 60vw;
        padding: 0.5vw 3vw;
    }
}

@media screen and (min-width:1440px) {
    .shop-reserve {
        position: absolute;
        top: -5vw;
        left: 53vw;
        width: 40vw;
        height: 53vw;
        padding: 0.3vw 2.5vw;
    }
}

.reserve-form {
    position: relative;
    background-color: #4169E1;
}

.form-error-date, .form-error-time, .form-error-number {
    position: absolute;
    width: fit-content;
    font-size: 1vw;
    color: #f00;
    background-color: #FFFACD;
    padding: 0 0.5vw;
    border-radius: 5px;
}

@media screen and (min-width:768px) {
    .form-error-date, .form-error-time, .form-error-number {
        font-size: 2vw;
    }
}

@media screen and (min-width:1024px) {
    .form-error-date, .form-error-time, .form-error-number {
        font-size: 1.3vw;
    }
}

@media screen and (min-width:1440px) {
    .form-error-date, .form-error-time, .form-error-number {
        font-size: 1vw;
    }
}

@media screen and (min-width:768px) {
    .form-error-date {
        top: 0.5vw;
        left: 30vw;
    }
}

@media screen and (min-width:1024px) {
    .form-error-date {
        top: 0.4vw;
        left: 17vw;
    }
}

@media screen and (min-width:1440px) {
    .form-error-date {
        top: 0;
        left: 15.2vw;
    }
}

@media screen and (min-width:768px) {
    .form-error-time {
        top: 6.5vw;
        left: 30vw;
    }
}

@media screen and (min-width:1024px) {
    .form-error-time {
        top: 4.7vw;
        left: 14.7vw;
    }
}

@media screen and (min-width:1440px) {
    .form-error-time {
        top: 3.3vw;
        left: 14.7vw;
    }
}

@media screen and (min-width:768px) {
    .form-error-number {
        top: 12.5vw;
        left: 30vw;
    }
}

@media screen and (min-width:1024px) {
    .form-error-number {
        top: 9vw;
        left: 15.8vw;
    }
}

@media screen and (min-width:1440px) {
    .form-error-number {
        top: 6.3vw;
        left: 15.8vw;
    }
}

.reserve-title {
    font-weight: bold;
    color: #fff;
    background-color: #4169E1;
}

@media screen and (min-width:768px) {
    .reserve-title {
        font-size: 3.3vw;
    }
}

@media screen and (min-width:1024px) {
    .reserve-title {
        font-size: 2.3vw;
    }
}

@media screen and (min-width:1440px) {
    .reserve-title {
        font-size: 2vw;
    }
}

.reserve-menu-text {
    margin-top: 0;
    color: #fff;
    background-color: #4169E1;
    word-break: keep-all;
}

@media screen and (min-width:768px) {
    .reserve-menu-text {
        font-size: 2vw;
    }
}

@media screen and (min-width:1024px) {
    .reserve-menu-text {
        font-size: 1.3vw;
    }
}

@media screen and (min-width:1440px) {
    .reserve-menu-text {
        font-size: 1vw;
    }
}

.reserve-date, .reserve-time, .reserve-number, .reserve-menu {
    border: none;
    outline: none;
}

@media screen and (min-width:768px) {
    .reserve-date, .reserve-time, .reserve-number, .reserve-menu {
        height: 4vw;
        margin-bottom: 2vw;
        padding: 0 1.5vw;
    }
}

@media screen and (min-width:1024px) {
    .reserve-date, .reserve-time, .reserve-number, .reserve-menu {
        height: 3vw;
        margin-bottom: 1.3vw;
        padding: 0 1.3vw;
    }
}

@media screen and (min-width:1440px) {
    .reserve-date, .reserve-time, .reserve-number, .reserve-menu {
        height: 2vw;
        margin-bottom: 1vw;
        padding: 0 1vw;
    }
}

.reserve-date {
    border-radius: 5px;
}

@media screen and (min-width:768px) {
    .reserve-date {
        font-size: 1.7vw;
        width: 27vw;
    }
}

@media screen and (min-width:1024px) {
    .reserve-date {
        font-size: 1.3vw;
        width: 15vw;
    }
}

@media screen and (min-width:1440px) {
    .reserve-date {
        font-size: 1vw;
        width: 12vw;
    }
}

.reserve-time, .reserve-number, .reserve-menu {
    position: relative;
    appearance: none;
    border-radius: 5px;
}

@media screen and (min-width:768px) {
    .reserve-time, .reserve-number, .reserve-menu {
        font-size: 1.7vw;
        width: 65vw;
    }
}

@media screen and (min-width:1024px) {
    .reserve-time, .reserve-number, .reserve-menu {
        font-size: 1.3vw;
        width: 35vw;
    }
}

@media screen and (min-width:1440px) {
    .reserve-time, .reserve-number, .reserve-menu {
        font-size: 1vw;
        width: 33vw;
    }
}

.reserve-select-time::after, .reserve-select-number::after, .reserve-select-menu::after{
    position: absolute;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f107';
    color: #d4d3d3;
    z-index: 1;
}

@media screen and (min-width:768px) {
    .reserve-select-time::after, .reserve-select-number::after, .reserve-select-menu::after {
        left: 60vw;
        font-size: 3vw;
    }
}

@media screen and (min-width:1024px) {
    .reserve-select-time::after, .reserve-select-number::after, .reserve-select-menu::after {
        left: 32.5vw;
        font-size: 2vw;
    }
    .reserve-select-time::after {
        top: 4.5vw;
    }
    .reserve-select-number::after {
        top: 9vw;
    }
    .reserve-select-menu::after {
        top: 13.2vw;
    }
}

@media screen and (min-width:1440px) {
    .reserve-select-time::after, .reserve-select-number::after, .reserve-select-menu::after {
        left: 31vw;
        font-size: 1.5vw;
    }
    .reserve-select-time::after {
        top: 3vw;
    }
    .reserve-select-number::after {
        top: 6vw;
    }
    .reserve-select-menu::after {
        top: 9vw;
    }
}

.reserve-confirm, .reserve-confirm-table, .confirm-table-tr, .confirm-table-td {
    border: none;
    color: #fff;
    background-color: #5287e9;
}

@media screen and (min-width:768px) {
    .reserve-confirm, .reserve-confirm-table, .confirm-table-tr, .confirm-table-td {
        font-size: 2vw;
    }
}

@media screen and (min-width:1024px) {
    .reserve-confirm, .reserve-confirm-table, .confirm-table-tr, .confirm-table-td {
        font-size: 1.3vw;
    }
}

@media screen and (min-width:1440px) {
    .reserve-confirm, .reserve-confirm-table, .confirm-table-tr, .confirm-table-td {
        font-size: 1.1vw;
    }
}

.reserve-confirm {
    border-radius: 5px;
}

@media screen and (min-width:768px) {
    .reserve-confirm {
        padding: 1.5vw 1vw;
        width: 65vw;
    }
}

@media screen and (min-width:1024px) {
    .reserve-confirm {
        padding: 1.5vw 1vw;
        width: 33vw;
    }
}

@media screen and (min-width:1440px) {
    .reserve-confirm {
        padding: 1.5vw 1vw;
        width: 32vw;
    }
}

@media screen and (min-width:768px) {
    .confirm-table-td {
        padding: 1vw 1.5vw;
        width: 30vw;
    }
}

@media screen and (min-width:1024px) {
    .confirm-table-td {
        padding: 0.5vw 1vw;
        width: 17vw;
    }
}

@media screen and (min-width:1440px) {
    .confirm-table-td {
        padding: 0.5vw 1vw;
        width: 15vw;
    }
}

.shop-reserve-alarm {
    position: absolute;
    color: #FFFF00;
    background-color: #4169E1;
    top: 33.5vw;
    word-break: keep-all;
}

.reserve-button {
    border: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff;
    background-color: #0000ff;
}

@media screen and (min-width:768px) {
    .reserve-button {
        position: absolute;
        top: 71.8vw;
        left: -2.8vw;
        width: 79.8vw;
        height: 6vw;
        font-size: 1.6vw;
    }
}

@media screen and (min-width:1024px) {
    .reserve-button {
        position: absolute;
        top: 47vw;
        left: -3vw;
        width: 45vw;
        height: 4.5vw;
        font-size: 1.2vw;
    }
}

@media screen and (min-width:1440px) {
    .reserve-button {
        position: absolute;
        top: 41.6vw;
        left: -2.5vw;
        width: 40vw;
        height: 4vw;
        font-size: 1vw;
    }
}

.reserve-button-submit {
    text-decoration: none;
    color: #fff;
}


