.thanks {
    display: inline-flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    width: 40vw;
    height: 25vw;
    margin-top: 3vw;
    box-shadow: 0.2vw 0.2vw 0.2vw 0.1vw #808080;
}

.logout-form {
    display: inline-flex;
    align-self: center;
    background-color: #fff;
}

.thanks-text {
    font-size: 2vw;
    font-weight: bold;
    margin-top: 7vw;
    background-color: #fff;
}

.logout-button {
    align-self: center;
    border: none;
    margin-top: 2.5vw;
    padding: 1vw;
    border-radius: 5px;
    font-size: 1.3vw;
    color: #fff;
    background-color: #4169E1;
}