
.thanks {
    display: inline-flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0.2vw 0.2vw 0.2vw 0.1vw #808080;
}

@media (min-width:320px) {
    .thanks {
        width: 83vw;
        height: 60vw;
        margin-top: 20vw;
    }
}

@media (min-width:375px) {
    .thanks {
        width: 80vw;
        height: 55vw;
        margin-top: 18vw;
    }
}

@media (min-width:425px) {
    .thanks {
        width: 75vw;
    }
}

@media (min-width:768px) {
    .thanks {
        width: 60vw;
        height: 40vw;
        margin-top: 8vw;
    }
}

@media (min-width:1024px) {
    .thanks {
        width: 50vw;
        height: 30vw;
        margin-top: 5vw;
    }
}

@media (min-width:1440px) {
    .thanks{
        width: 40vw;
        height: 22vw;
        margin-top: 3vw;
    }
}

.logout-form {
    display: inline-flex;
    align-self: center;
    background-color: #fff;
}

.thanks-text {
    font-weight: bold;
    background-color: #fff;
}

@media (min-width:320px) {
    .thanks-text {
        font-size: 5vw;
        margin-top: 20vw;
    }
}

@media (min-width:375px) {
    .thanks-text {
        font-size: 4.5vw;
        margin-top: 18vw;
    }
}

@media (min-width:425px) {
    .thanks-text {
        font-size: 4vw;
    }
}

@media (min-width:768px) {
    .thanks-text {
        font-size: 3vw;
        margin-top: 14vw;
    }
}

@media (min-width:1024px) {
    .thanks-text {
        font-size: 2.5vw;
        margin-top: 10vw;
    }
}

@media (min-width:1440px) {
    .thanks-text {
        font-size: 2vw;
        margin-top: 7vw;
    }
}

.logout-button {
    align-self: center;
    border: none;
    border-radius: 5px;
    margin-top: 2.5vw;
    background-color: #4169E1;
    color: #fff;
}

@media (min-width:320px) {
    .logout-button {
        font-size: 4vw;
        padding: 2vw 4vw;
    }
}

@media (min-width:375px) {
    .logout-button {
        font-size: 3.5vw;
        padding: 1.7vw 3.5vw;
    }
}

@media (min-width:425px) {
    .logout-button {
        font-size: 3vw;
    }
}

@media (min-width:768px) {
    .logout-button {
        font-size: 1.9vw;
        padding: 1vw 2vw;
    }
}

@media (min-width:1024px) {
    .logout-button {
        font-size: 1.4vw;
        padding: 0.8vw 1.7vw;
    }
}

@media (min-width:1440px) {
    .logout-button {
        font-size: 1.1vw;
        padding: 0.5vw 1vw;
    }
}